[2016-07-28 13:59] nukeador opened #1 "ReMo Event Reports in Community Analytics"
We would like to have Event Reports from the ReMo portal in Bitergia's community analytics.

Example Report: https://reps.mozilla.org/u/hmitsch/r/2016/September/8/40458/

[2016-08-03 20:05] LucyeoH opened #2 "Dashboard for MoFo Mozilla Clubs"
Source - http://mozilla.github.io/clubs-events/

[2016-08-03 20:27] jmaher opened #3 "consider adding a mentor view / dashboard"
in Bugzilla we do much work with assigning a mentor to the mentor field in bugzilla.  From my perspective, I would like to know how much work  Iam doing as a mentor as well as mentors on my team.  Some interesting statistics:
* number of contributors / day[/week/month] for a given mentor
* contributors lifetime of mentor involvement
* I guess the easy stuff would be top mentors (# mentored bugs/ac

[2016-08-03 20:51] Pike opened #4 "Localization-aware data"
We have a variety of data sources which hold localization-related data. I'd like to kick of a discussion on how we can make that discoverable in the participation metrics system.

Kick-off in the sense that some of this conversation is probably for @gueroJeff, or folks he refers to.

# Bugzilla
We have data in bugzilla that's related to localization:

- components in the Mozilla Localizations prod

[2016-08-03 22:29] jgbarah commented on #3
We can check how that info is referred to in the Bugzilla API, but I assume it will be just a change in state, like a new assignee, so it would be traceable.

[2016-08-17 12:24] gueroJeff commented on #4
Thanks Axel.

Thinking long-term, Pontoon & Pootle will become data sources for contribution quality and acceptance (e.g., tracking the ratio of accepted/rejected translation suggestions, translation review attribution, as well as translation quality metrics attribution per localizer.

[2016-08-22 14:34] geroter opened #5 "(Deployment) Enhance identfication of Mozilla employees using curated email list"
See email exchange with Mike Hoye.

[2016-08-22 14:41] geroter opened #6 "Leverage the areweeveryoneyet.org asset"
Not sure what to do here yet. @mhoye owns this URL

[2016-08-22 14:58] geroter opened #7 "Change URL of "deployment" to analytics.mozilla.community"
Pierros, hoping we can do this ASAP. Connected you with Luis in an email.

@sanacl

[2016-08-22 15:31] geroter commented on #7
Changed URL to analytics.mozilla.community

[2016-08-22 15:31] ppapadeas commented on #7
Pinged the team to deploy this

[2016-08-22 16:46] sanacl commented on #7
Hi guys! We need to know the domain name and we'll also need the certificate to be deployed in our nginx web server in order to offer HTTPS

[2016-08-22 17:54] ppapadeas commented on #7
@sanacl We will be issuing the SSL and terminating it on a ELB. I assume port 80 would be OK right?

[2016-08-22 17:54] ppapadeas commented on #7
The URL will be analytics.mozilla.community and you can track the progress of the ELB setup and SSL termination here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1297145

[2016-08-22 20:25] sanacl commented on #7
@ppapadeas ELB? I'm not familiar with that term ..

[2016-08-23 13:18] johngian commented on #7
For more info about AWS ELB [1] please take a look here.

At the moment we are terminating SSL in a higher level of the stack and redirecting the traffic to port 443 of the bitergia VM. Is that OK?

Looks like it's working for me (it proompts for user/pass):
https://analytics.mozilla.community/

[1] https://aws.amazon.com/documentation/elastic-load-balancing/

[2016-08-23 13:30] geroter commented on #7
Hey @sanacl looks like it's working.

Can you verify and also let us know when the data has finished migrating.

[2016-08-23 14:49] geroter commented on #5
Let me know where this can fit as a feature @sanacl

[2016-08-24 17:09] sanacl commented on #7
@geroter We're updating data now using the new infrastructure. Stay tuned :)

[2016-09-01 20:31] sanacl commented on #7
@geroter Hi again, we are reviewing the data of some backends like Discourse that should be working better. My colleague @acs is working on that and I'll be two weeks off. COuld you please add him to this project?

[2016-09-02 13:37] geroter commented on #7
Done

[2016-09-02 13:48] geroter opened #8 "Community Analytics Site: Explore authentication and access control options"
Not sure if this is even possible or what a solution could look like, but it would be ideal if we could have a way to easily authorize/remove people from being able to access this tool, rather than sending out the same user/pass combo to a variety of people.

Wondering if @comzeradd could think about this and provide some ideas/options.

@MichaelKohler has some thoughts.

[2016-09-02 14:05] MichaelKohler commented on #8
My thoughts were around the current approach. It seems that currently .htaccess is used which would allow for new users with separate passwords. This would need to be done per user and by somebody who can change the .htaccess file and finally get it to the server. This is very cumbersome indeed. This would allow to have several users (and also to delete users if necessary) for the short-term.

Reg

[2016-09-12 04:56] hmitsch opened #9 "ReMo "Initiative" in Community Analytics"
We would like to have the ReMo portal event field "Initiative" in Bitergia's community analytics.

Context: The field content is the campaign that an event belongs to, e.g. MozActivate.
Requirement source: https://github.com/mozilla/activate.mozilla.community/issues/59

[2016-09-12 05:04] hmitsch opened #10 "ReMo Event Reports in Community Analytics"
We would like to have Event Reports from the ReMo portal in Bitergia's community analytics.

Example Report: https://reps.mozilla.org/u/hmitsch/r/2016/September/8/40458/

[2016-09-12 05:06] hmitsch opened #11 "ReMo Event Details: Add Metrics"
We would like to have Metrics in the ReMo event details.

Example for a ReMo event with metrics: https://reps.mozilla.org/e/remo-call-08-09-16/
Current Kibana object missing all metrics/KPIs: https://analytics.mozilla.community/app/kibana#/doc/remo/remo_mozilla_160803_enriched_160803/items?id=https:%2F%2Freps.mozilla.org%2Fe%2Fremo-call-08-09-16%2F&_g=(refreshInterval:(display:Off,pause:!f,value:0

[2016-09-12 08:51] nukeador commented on #1
Ping, any updates here?

[2016-09-12 08:51] nukeador commented on #10
Duplicated from #1

[2016-09-12 08:51] #10 closed

[2016-09-18 10:18] brianking commented on #1
There is also one crucial field missing from Events - 'initiative'. This is needed to pull data for the Activate campaign.

[2016-09-19 09:45] hmitsch commented on #1
@sanacl can you please assign this issue to yourself?

[2016-09-19 09:56] hmitsch commented on #7
@sanacl is this issue still open? Any work left to do here?

/cc @ppapadeas @johngian: Do you still see any open work here?

[2016-09-19 10:03] hmitsch commented on #8
Proposal: Open Community Analytics to all NDA'ed Mozillians.
Kindly requesting @comzeradd to comment on this idea.

[2016-09-19 10:04] hmitsch commented on #6
@mhoye and/or @geroter is this request still relevant?

[2016-09-19 10:05] hmitsch commented on #5
@sanacl, please update the issue!

[2016-09-19 10:08] hmitsch commented on #4
Hi @geroter, did you take any action on this so far?

Proposed next steps:
- @geroter: transfer issue ownership to @hmitsch
- @hmitsch: inquire with Bitergia on what they need in order to get the metrics added

-Henrik

[2016-09-19 10:08] hmitsch commented on #3
@jgbarah, any update on this? What's the next step?

[2016-09-19 10:09] hmitsch commented on #2
@sanacl: Can you please assign this issue to yourself?

[2016-09-19 10:14] jsmanrique commented on #5
We are waiting for the file from Mike ;-)

[2016-09-19 10:16] jsmanrique commented on #2
Does it provides an API to query data somehow?

[2016-09-19 10:23] hmitsch commented on #2
Hi @comzeradd,

can you answer @jsmanrique's question?

Best regards,
   Henrik

[2016-09-19 10:47] comzeradd commented on #2
This website is fetching data out of a specific google spreadsheet. Through this [json endpoint](https://spreadsheets.google.com/feeds/cells/1QHl2bjBhMslyFzR5XXPzMLdzzx7oeSKTbgR5PM8qp64/ohaibtm/public/values?alt=json).

@jsmanrique does this suffice for using it on kibana?

[2016-09-19 11:05] comzeradd commented on #8
That would be ideal. As Michael said the current .htaccess approach doesn't scale if we want to open this to more people or get auth bits from specific mozillians groups (eg. NDA).

I don't see an easy way of integrating Auth0 without altering kibana's authentication code.

@sanacl which are the current auth methods supported by kibana?

[2016-09-19 11:09] jsmanrique commented on #2
It might work. Let me check with the team

[2016-09-19 14:27] hmitsch commented on #8
Dear Bitergia,
can you please check if it possible (and what it takes) to integrate Bitergia Community Analytics with auth0 (https://auth0.com/).
Best regards,
   Henrik

[2016-09-19 14:42] jsmanrique commented on #8
We didn't know about Auth0 service. We need to check their service costs and how to integrate it with Kibana websites

[2016-09-19 22:36] jgbarah commented on #3
I'm sorry, I should have been more assertive on this. Could you please point me to a case where a mentor is assigned to a ticket in Bugzilla? We're working on analyzing the state changes for tickets, and this could be just a special case. If you can point me to specific cases, I can look for the info the API is providing in those cases, and figure whether this state change analysis would be enough

[2016-09-19 23:05] jmaher commented on #3
here is a bug that has a mentor assigned:
https://bugzilla.mozilla.org/show_bug.cgi?id=1298800

[2016-09-20 00:09] jgbarah commented on #3
Thanks! Seems like a field, but I assume you can fill it when opening the ticket, or later as a change of state. We're going to look for this one in the data produced by the API, to see how it works.

[2016-09-20 07:27] ppapadeas commented on #7
The URL is working properly now, closing this.

[2016-09-20 07:27] #7 closed

[2016-09-20 14:50] hmitsch commented on #4
Hi @jsmanrique,

can you also provide a quote for this change?

Best regards,
   Henrik

[2016-09-20 14:53] jsmanrique commented on #2
Since MDN API doesn't provide useful data, we might use resources to work on supporting this data source instead of MDN. What do you think?

[2016-09-20 15:16] hmitsch commented on #2
@jsmanrique, which ticket describes the issues you have with MDN?
I am not sure I want to sacrifice MDN for Club Events. I'd rather go for a "both yes" implementation.

If you provide me with more details on the current state of affairs with MDN integration, I will be able to consult with George (and others) and get back to you.

-Henrik

[2016-09-20 15:24] jsmanrique commented on #2
I will ask @acs about it, because he was the one working on it

[2016-09-21 07:11] hmitsch commented on #5
Info from @mhoye from earlier this week:

Waiting for next week to follow up with @jsmanrique.

[2016-09-21 07:12] hmitsch commented on #6
Info from @mhoye from earlier this week:

Task for @hmitsch: Need to figure out a way to put this issue on hold for the moment.

[2016-09-21 12:42] comzeradd commented on #11
Hey @jsmanrique, I just want to make sure you are using Reps [APIv2](https://reps.mozilla.org/api/beta/) for all the metrics data.

[2016-09-21 13:25] jsmanrique commented on #11
Reassigning it to @acs , who is one of the folks that have developed the backend to track ReMo activity

[2016-09-21 15:29] acs commented on #11
@comzeradd we are using the API

https://github.com/grimoirelab/perceval/blob/master/perceval/backends/remo.py#L209

`self.api_events_url = urljoin(self.url, '/api/v1/event/')
`

so no, we are using API v1. Should we change to API v2?

[2016-09-21 16:22] sanacl commented on #8
Hi @comzeradd, the current auth methods supported by Kibana are not free/open source. There is a component called shield which could do the trick, but it is propietary.
As soon as we have a clear idea about the integration with the Auth0 service we'll let you know.

[2016-09-22 08:29] acs commented on #11
@comzeradd we have analyzed the new API v2. It seems it is in beta status. Do you foresee important changes?

From our analysis, the summary of API v1 vs v2:

* event and events API are pretty similar, but with some changes in the fields. The new v2 API needs to get first the events list and then get the details for the items in the list. In v1 all the items info was included directly in the same

[2016-09-22 09:57] comzeradd commented on #11
Hey @acs

Yes, it's better to use v2. v1 was intended to be used internally on some parts of the website's frontend and will be retired at some point.

We don't expect v2 to have major changes, probably some enhancements (eg. better filtering), but nothing that would significantly break its functionality.

[2016-09-22 22:00] jgbarah commented on #3
Thanks! Seems like a field, but I assume you can fill it when opening the ticket, or later as a change of state. We're going to look for this one in the data produced by the API, to see how it works.

[2016-09-22 22:06] jgbarah commented on #3
@dicortazar did an analysis on how mentors are dealt with in the information we get from Bugzilla API (data, below, is the object that Perceval creates with the information retrieved from the Bugzilla API for any event for a ticket):

Therefore, we could deal with this as a change in state, and probably won't need anything specific (index-wise) for this when we have an index-based event. We're alr

[2016-09-22 22:40] jmaher commented on #3
thanks for looking into this- I think this plan is a good one!

On Thu, Sep 22, 2016 at 6:06 PM, Jesus M. Gonzalez-Barahona <
notifications@github.com> wrote:

[2016-09-27 11:44] hmitsch opened #12 "Computing Resource Sizing 2017"

[2016-09-27 11:47] hmitsch opened #13 "Q4 2016 Computing Resource Increase"

[2016-09-27 11:57] hmitsch commented on #8
Requirement clarification:
- Everybody has the same access
- Provide access to Community Analytics for all Staff + NDA'ed Mozillians (via auth0/LDAP integration)

[2016-09-27 11:58] sanacl commented on #8
This could solve us the issue: https://auth0.com/docs/quickstart/backend/nginx

[2016-09-27 12:00] hmitsch opened #14 "Access control (temporary solution): Provide names for access to Bitergia"

[2016-09-27 12:02] hmitsch commented on #8
Blocked: Waiting for Mozilla's IAM infrastructure to be at the right point.
@hmitsch will unblock this issue.

[2016-09-27 12:09] hmitsch opened #15 "(Tracking-only) Events-based indexes"

[2016-09-27 12:11] hmitsch commented on #15
Assign to Jesus as soon as possible

[2016-09-27 12:12] hmitsch commented on #3
Blocked, waiting for #15 to become available in the Bitergia platform.

[2016-09-27 12:13] hmitsch commented on #9
API analysis is currently ongoing on Bitergia side

[2016-09-27 12:17] hmitsch commented on #2
Following a conversation with Bitergia, we decide to switch MDN for Club Events.

[2016-09-27 12:29] jsmanrique commented on #4
For the short term, there is no need for a quote. We need the list of repositories that "define" Localization project.

From @Pike comments, it seems there are several github repos, bugzilla products and some mercurial repos too. We would need that list to update the "Projects" panel in the dashboard.

For the long term (as @gueroJeff has said), if Pontoon & Pootle are going to be used, we might c

[2016-09-27 13:10] brianking opened #16 "Track Activate Metrics"
Currently we are gathering campaign metrics here (mostly manually):

https://docs.google.com/spreadsheets/d/1ss3nkmIIYYFLjvBfROB8-p2xB4HRAVTm5t323e_vhsk/edit?pli=1#gid=2122840069

I'm wondering if it makes sense to import from that spreadsheet into the dashboard.

[2016-09-27 18:35] acs commented on #2
@hmitsch working now in the backend implementation. As soon as we have a first version to be checked, we will report about it ... probably during this week it must be working.

[2016-09-28 15:21] acs commented on #2
@hmitsch coudl you check a draft panel we have created for this Mozilla Club Events data source?

https://mozilla.biterg.io/app/kibana#/dashboard/MozillaClubDebug

With your feedback we can create the final version.

[2016-09-28 19:31] acs commented on #1
@nukeador using the new v2 ReMo API for activities I think we can gather this information.

For example this report:

https://reps.mozilla.org/u/galaxyk/r/2011/June/30/20107/

is related to this item from the activity API:

https://reps.mozilla.org/api/beta/activities/20107/

So with the new perceval backend that will use this API we can include this information in the ReMo panel in the mozilla co

[2016-09-28 19:38] acs commented on #11
@hmitsch I am not sure I am understanding your concern clearly. In the JSON item you have shown, we have the information about the event. With the API v2, probably we will have more information about it.

But JSON items don't have the metrics/KPIs, they are computed using queries using ES and Kibana. Could you provide me some examples of the metrics/KPIs that you find in https://reps.mozilla.org/e

[2016-09-28 19:42] acs commented on #11
@hmitsch taking a look to the raw data we have from events in ReMo I can see:

[code]

Those are the KPIs are you asking for? We can include them in the ReMo panel and the enriched items.

[2016-09-28 19:43] acs commented on #9
@hmitsch yes, we have this "campaign" field included in the raw item gathered from the ReMo API, so we can propagate it to the enriched items so it can be used in Kibana panels. Is it what you are looking for?

[2016-09-29 14:47] acs commented on #16
Right now we are supporting the spreadsheet for Mozilla Club Events. Is it the same? If not, it is possible to do it following a similar approach.

[2016-09-29 14:49] acs commented on #11
@hmitsch in the API v2 the metrics for an event are not included anymore:

https://reps.mozilla.org/api/beta/events/132/

In API v1 we have this information in an event. Maybe it could be added also to v2?

[2016-09-29 14:50] acs commented on #9
@hmitsch in the v2 API this field is called Initiative directly. So we can just use it.

https://reps.mozilla.org/api/beta/events/132/

[2016-09-29 22:29] hmitsch commented on #2
Hi @LucyeoH,

the Bitergia people have built a first version of the Mozilla Clubs panel. This is what it looks like:

<img width="1115" alt="screenshot 2016-09-30 00 28 23" src="https://cloud.githubusercontent.com/assets/869692/18974686/ee4dee8a-86a4-11e6-97e1-5911314ab631.png">

Is this what you are looking for? What is it missing? What else would you like to see?

Best regards,
   Henrik

[2016-09-30 12:17] LucyeoH commented on #2
@hmitsch this looks awesome! It DOES raise some more general thoughts for me about being careful not to aggregate "self report data" like this with not self-reported data which could totally inflate our numbers. Even those first few reports suggest to me people are massively exaggerating :P and we know from TBTW that people are usually adding at least 1 zero to any number they're asked to self rep

[2016-10-03 15:17] LucyeoH commented on #2
@hmitsch
I’d  love more info about where this data came from (is it from the clubs page? reps portal? made-up?)

There's lots more data I would love to see but not sure how much you can give us i.e.:
    * Club Enrollement (taken from report forms) how many ppl are in their club
    * RC - who is their RC
    * Active for how long - how long have they been active for (reporting on a monthly basis)

[2016-10-04 05:16] acs commented on #2
@LucyeoH the data is extracted from:

https://github.com/acs/perceval/blob/mozilla-club/perceval/backends/mozillaclub.py#L42

this spreadsheet. Not sure if in this spreadsheet all the data you are looking for is included.

[2016-10-04 09:01] hmitsch opened #17 "As an Activate Program Manger I want to have a daily/weekly/monthly/quarterly view on the number of Activate Events in order to visualize them on the Main Activate Campaign Dashboard"

[2016-10-04 09:01] brianking opened #18 "As an Activate program manager, I want to have a weekly/monthly number of unique mobilizers (event organisers) who are hosting MozActivate events so that I can see it on the Metrics Dashboard"
Data source = Reps portal

[2016-10-04 09:03] hmitsch commented on #17
**Data source:** Poll the Reps Portal for events from the "Activate campaign".

[2016-10-05 14:27] LucyeoH commented on #2
For Henrik - Julia Vallera is the person for whom this data is immediately useful.

[2016-10-07 09:17] hmitsch opened #19 "Update data collection software"

[2016-10-07 09:22] hmitsch commented on #14
Current users:

* mozilla
* mozilla-training

[2016-10-07 09:26] hmitsch opened #20 "Identify correct data source for Participation Mozilla Clubs"

[2016-10-07 09:27] hmitsch commented on #20
Linked to https://github.com/mozilla/participation-metrics-org/issues/2

[2016-10-07 09:31] hmitsch commented on #9
Expected delivery date: 12 OCT 2016

[2016-10-07 09:32] hmitsch commented on #11
Add to ParSys sprint backlog

[2016-10-07 09:34] hmitsch commented on #1
Expected delivery date: 12 OCT 2016

[2016-10-07 09:36] hmitsch commented on #13
@sanacl will provide some load statistics, following that @hmitsch will discuss with Yousef

[2016-10-07 09:37] hmitsch commented on #4
@hmitsch: Clarify set of (data) repositories. Pass this list to Bitergia.

[2016-10-07 09:40] hmitsch commented on #5
Just sent a friendly reminder to @mhoye.

[2016-10-07 09:41] hmitsch commented on #12
Waiting for progress on https://github.com/mozilla/participation-metrics-org/issues/13.

[2016-10-07 09:42] hmitsch commented on #6
Follow-up with @mhoye because we arrived in Q4.

[2016-10-07 09:51] hmitsch commented on #18
Requires initiatives in the Community Analytics portal: https://github.com/mozilla/participation-metrics-org/issues/9

[2016-10-07 09:53] sanacl commented on #18
I'll confirm whether this is feasible asap

[2016-10-07 09:54] sanacl commented on #17
I will confirm this is feasible asap

[2016-10-07 09:54] hmitsch commented on #17
Requires https://github.com/mozilla/participation-metrics-org/issues/9, same as https://github.com/mozilla/participation-metrics-org/issues/18

[2016-10-07 09:56] hmitsch commented on #17
Simplification: To keep "out of the box" Kibana functionality, we filter inside Kibana and NOT build a specific dashboard.

[2016-10-07 10:01] hmitsch opened #21 "Manrique-Henrik KPI: 100"

[2016-10-07 10:20] hmitsch opened #22 "Make sure analytics stakeholders populate the user stories project"

[2016-10-07 10:33] hmitsch commented on #22
Mail sent to @LucyeoH, @brianking and @nukeador.

---------- Forwarded message ----------
From: Henrik Mitsch <hmitsch@mozilla.com>
Date: Fri, Oct 7, 2016 at 12:32 PM
Subject: Community Analytics Requests
To: Brian King <bking@mozilla.com>, Lucy Harris <lharris@mozilla.com>, Ruben Martin <rmartin@mozilla.com>
Cc: George Roter <groter@mozilla.com>

Hi Lucy, Brian and Rubén,

over the past few days

[2016-10-07 10:47] hmitsch commented on #2
Mail sent to Julia. Waiting for response.

[2016-10-07 10:53] hmitsch commented on #2
@bacharakis do you have the JSON endpoint for the Participation Mozilla Club event reports, i.e. the form filled via http://mozilla.github.io/clubs-events/

We want to add the results to Bitergia Community Analytics.

[2016-10-07 10:59] hmitsch commented on #14
Waiting for: https://tree.taiga.io/project/pierros-mozilla-particiaption-systems/us/84?kanban-status=904519

[2016-10-07 12:05] hmitsch commented on #20
@bacharakis do you have the JSON endpoint for the Participation Mozilla Club event reports, i.e. the form filled via http://mozilla.github.io/clubs-events/

We want to add the results to Bitergia Community Analytics.

[2016-10-07 12:06] hmitsch commented on #20
Note to self: @bacharakis will do that early next week. Waiting patiently.

[2016-10-07 16:12] brianking opened #23 "As an Activate Program Manager I want to have a weekly view of the number of unique contributors to the MozActivate Campaign in order to vis"

[2016-10-07 16:19] brianking opened #24 "As an Activate Program Manager I want to have a weekly view of the number of unique contributions to the MozActivate Campaign in order to vi"

[2016-10-07 16:22] brianking opened #25 "As an Activate PM I want to have a weekly view of the number of unique social shares to the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Current information sources (system and data fields):
Currently being retrieved manually on twitter.com using the #MozActivate campaign. Would be nice to have Instagram posts and public FB posts, and anything else that might make sense.

[2016-10-07 16:30] brianking opened #26 "As an Activate PM I want to have a weekly view of the number of people hosting Rust events as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Current information sources (system and data fields):
Reps Portal -- MozActivate initiative events that mention Rust (in title or description)

[2016-10-08 09:45] brianking opened #27 "As an Activate PM I want to have a weekly view of the number of people attending Rust events as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Current information sources (system and data fields):
Number of attendees (NOT people who sign up) of MozActivate Rust events on the Reps portal. Many Reps don’t fill in the actual event after, so in this case we should use the estimated.

[2016-10-08 09:46] brianking opened #28 "As an Activate PM I want to have a weekly view of the number of people blogging about MozActivate Rust activities in order to visualize them"

[2016-10-08 09:59] brianking opened #29 "As an Activate PM I want to have a weekly view of the number of new signups to the Rust developer list in order to visualize them on the Mai"

[2016-10-08 10:01] brianking opened #30 "As an Activate PM I want to have a weekly view of the number of people hosting WebCompat events as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Current information sources (system and data fields):
Reps Portal -- MozActivate initiative events that mention ‘WebCompat’ or ‘Web Compat’ or ‘Web Compatibility’ (in title or description)

[2016-10-08 10:03] brianking opened #31 "As an Activate PM I want to have a weekly view of the number of installs of the Web Compatibility Reporter Add-on in order to visualize them"

[2016-10-08 10:04] brianking opened #32 "As an Activate PM I want to have a weekly view of the number of Web Compatibility issues opened in order to visualize them on the Main Activ"

[2016-10-08 10:06] brianking opened #33 "As an Activate PM I want to have a weekly view of the number of new signups to the Web Compatibility list in order to visualize them on the"

[2016-10-08 10:07] brianking opened #34 "As an Activate PM I want to have a weekly view of the number of installs of the Test Pilot Add-on in order to visualize them on the Main Activate Campaign Dashboard"

[2016-10-08 10:09] brianking commented on #34
Current information sources (system and data fields):
The Test Pilot team set up a special tracking url: http://testpilot.firefox.com/experiments?utm_source=activity.mozilla.community&utm_medium=referral&utm_campaign=moz-community-2016
Being sent a Google Analytics report to my email.

[2016-10-08 10:10] brianking opened #35 "As an Activate PM I want to have a weekly view of the number of times people social share the Test Pilot activity in order to visualize them on the Main Activate Campaign Dashboard"
Current information sources (system and data fields):
The activity is here: https://activate.mozilla.community/experiments/test-pilot/
We have not been segmenting tweets to #MozActivate yet.
I’m guessing the best way to get it is to check for tweets that have the #MozActivate tag and also mention Test Pilot in the text.

[2016-10-08 10:12] brianking opened #36 "As an Activate PM I want to have have a weekly view of the number of posts in the Test Pilot Discourse category in order to visualize them on the Main Activate Campaign Dashboard"
Current information sources (system and data fields):
https://discourse.mozilla-community.org/c/test-pilot
Note it is difficult to segment posts from folks touched by the campaign and regular traffic.

[2016-10-08 11:11] brianking opened #37 "As an Activate PM I want to have a weekly view of the number of people hosting ‘e10s and Featured Addons’ events as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
Reps Portal -- MozActivate initiative events that mention ‘e10s’ or ‘Add-ons’ (in title or description)

[2016-10-08 11:12] brianking opened #38 "As an Activate PM I want to have a weekly view of the number of people attending ‘e10s and Featured Addons’ events as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
Number of attendees (NOT people who sign up) of MozActivate ‘e10s and Featured Addons’ events on the Reps portal. Many Reps don’t fill in the actual event after, so in this case we should use the estimated.

[2016-10-08 11:14] brianking opened #39 "As an Activate PM I want to have a view of the number of add-ons that get testing coverage during the ‘e10s and Featured Addons’ activity which runs until November 4 as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
@wagnerand will probably be able to pull this from the back-end of https://featured-addons-test.herokuapp.com/

[2016-10-08 11:15] brianking opened #40 "As an Activate PM I want to have a weekly view of the number of individual add-on tests during the ‘e10s and Featured Addons’ activity as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
@wagnerand will probably be able to pull this from the back-end of https://featured-addons-test.herokuapp.com/

[2016-10-08 11:16] brianking opened #41 "As an Activate PM I want to have a weekly view of the number of people hosting ‘WebVR Camp’ events as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
Reps Portal -- MozActivate initiative events that mention ‘WebVR’ or ‘A-Frame’ or ‘AFrame’ (in title or description)

[2016-10-08 11:17] brianking opened #42 "As an Activate PM I want to have a weekly view of the number of ‘WebVR Camp’ events as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
Reps Portal -- MozActivate initiative events that mention ‘WebVR’ or ‘A-Frame’ or ‘AFrame’ (in title or description)

[2016-10-08 11:19] brianking opened #43 "As an Activate PM I want to have a weekly view of the number of people attending ‘WebVR Camp’ events as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
Number of attendees (NOT people who sign up) of MozActivate ‘WebVR Camp’ events on the Reps portal. Many Reps don’t fill in the actual event after, so in this case we should use the estimated.

[2016-10-08 11:20] brianking opened #44 "As an Activate PM I want to have a weekly view of the number of new signups to the A-Frame Slack Channel as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
https://aframevr-slack.herokuapp.com/
Slack API?
Will be difficult to differentiate campaign signups from regular ones, maybe we don’t need to.

[2016-10-08 11:21] brianking opened #45 "As an Activate PM I want to have a weekly view of the number of new signups to the A-Frame Slack Channel as part of the MozActivate Campaign in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
@gurumukhi and @ngokevin might have an idea

[2016-10-08 11:23] brianking opened #46 "As an Activate PM I want to have a weekly view of the number of blog posts about the MozActivate Campaign ‘WebVR Camp’ activity or inspired by it in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
@gurumukhi and @ngokevin might have an idea

[2016-10-08 11:24] brianking opened #47 "As an Activate PM I want to have a weekly view of the number of times people social share the WebVR activity in order to visualize them on the Main Activate Campaign Dashboard"
Possible information sources (system and data fields):
People sharing on social networks (especially tweets) #MozActivate AND #WebVRCamp OR @aframevr OR @mozillavr

[2016-10-10 10:11] sanacl commented on #13
Hi guys,
we need more CPUs in the VM machine we use to run Kibana and the GrimoireLab python tools. Right now we have only two CPUs and we are not able to run all the parallel jobs we'll like to. Besides that, the platform should be more used during next months so having more parallel jobs for Kibana and our collection+enrichment process is a must. About the connection of the UI with the database

[2016-10-10 14:05] jsmanrique commented on #25
Currently Twitter is not part of the data sources covered by Mozilla - Bitergia agreement.
FB and Instagram are not part of [GrimoireLab](http://grimoirelab.github.io) platform. It would require development effort.

[2016-10-10 14:08] jsmanrique commented on #47
Currently Twitter is not part of the data sources covered by Mozilla - Bitergia agreement.

[2016-10-10 14:10] jsmanrique commented on #45
Currently Slack is not part of the data sources covered by Mozilla - Bitergia agreement and it would require development to add it to [GrimoireLab](http://grimoirelab.github.io) platform. It is planned to be added by the end of the year or early 2017.

I am worried that Mozilla might have the same security/privacy concerns that with Telegram and IRC.

[2016-10-10 14:12] jsmanrique commented on #44
Currently Slack is not part of the data sources covered by Mozilla - Bitergia agreement and it would require development to add it to GrimoireLab platform. It is planned to be added by the end of the year or early 2017.

I am worried that Mozilla might have the same security/privacy concerns that with Telegram and IRC.

[2016-10-10 14:14] jsmanrique commented on #40
`Featured Add-ons Compatibility Test` as a data source is not covered by Bitergia - Mozilla agreement, and would require development to set up a backend

[2016-10-10 14:15] jsmanrique commented on #39
`Featured Add-ons Compatibility Test` as a data source is not covered by Bitergia - Mozilla agreement, and would require development to set up a backend

[2016-10-10 15:12] hmitsch commented on #13
@flamingspaz I am adding this to our backlog, high enough to (hopefully) make it into the next sprint: https://tree.taiga.io/project/pierros-mozilla-particiaption-systems/us/41?kanban-status=904519

[2016-10-10 15:36] sanacl commented on #19
The only data source that should be outdated tomorrow is the mailing lists. We were tracking Gmane but it is down since a couple of months. We are tracking most of the mailing lists so we can parse our mboxes. The software to speed up the generation of the dashboard (called mordred) wasn't finished yet. Should be finished during the week.

[2016-10-10 20:54] hmitsch opened #48 "Mozillians.org integration"

[2016-10-10 20:55] hmitsch commented on #48
Here is the Mozillians.org API documentation:
https://mozillians.readthedocs.io/en/latest/api/apiv2/index.html

@jsmanrique, can you give me a quote on the possibilities of adding this to our solution?

[2016-10-11 07:03] sanacl opened #49 "VM is down"
VM used to gather and update dashboards is down. IP address 54.67.78.223

[2016-10-11 07:35] hmitsch commented on #49
@flamingspaz can you please help?

[2016-10-11 07:43] hmitsch commented on #39
Hi @brianking,

please reach out to me after your PTO to discuss the information architecture of this story.

Thanks in advance and best regards,
   Henrik

[2016-10-11 07:47] hmitsch commented on #44
@brianking please clarify privacy question.

[2016-10-11 07:49] hmitsch opened #50 "Twitter integration"

[2016-10-11 07:50] hmitsch commented on #50
Requirement source: https://github.com/mozilla/participation-metrics-org/issues/47

As mentioned in https://github.com/mozilla/participation-metrics-org/issues/47#issuecomment-252631406

@jsmanrique, can you give me a quote on the possibilities of adding this to our solution?

[2016-10-11 07:51] hmitsch commented on #47
Pursuing twitter integration in https://github.com/mozilla/participation-metrics-org/issues/50

[2016-10-11 07:57] hmitsch commented on #47
test comment

[2016-10-11 08:01] flamingspaz commented on #49
I kicked it and it's back up now.

[2016-10-11 08:24] jsmanrique commented on #48
AFAIK the Mozillians API is already integrated, so maybe I am misunderstanding what the requirement is

[2016-10-11 08:28] hmitsch opened #51 "Facebook and Instagram integration"

[2016-10-11 08:30] hmitsch commented on #51
Requirement source: https://github.com/mozilla/participation-metrics-org/issues/25

As mentioned in https://github.com/mozilla/participation-metrics-org/issues/25#issuecomment-252630718

@jsmanrique, can you give me a quote on the possibilities of adding this to our solution?

[2016-10-11 08:30] hmitsch commented on #25
https://github.com/mozilla/participation-metrics-org/issues/51

[2016-10-11 08:34] hmitsch commented on #16
Requirement discarded in collaboration with @brianking. It is our aim to create the above mentioned Google spreadsheet in the Community Analytics platform. This is preferred over connecting a manually populated data source to Community Analytics.

[2016-10-11 08:46] hmitsch commented on #48
As just written by email, I had misunderstood your message yesterday. That's why I opened this issue. Sorry.

[2016-10-11 08:48] hmitsch commented on #48
As we are already talking about Mozillians.org integration ...

You say it is integrated already? Where can I see data from that source?

[2016-10-11 09:09] jsmanrique commented on #48
I would let @acs to explain it in detail, but AFAIK it is being used to help avoiding duplication of people identities across different data sources or inside the same data source. For example, someone could be using several emails for commits, discourse posts, etc.. Using Mozillians API, we enrich data to assign all the different actions done by person multiple identities to the same unique perso

[2016-10-11 11:49] acs commented on #48
@hmitsch right now we are getting all identities from Mozillians and adding them to our Sorting Hat identities repository for Mozilla. In Sorting Hat we manage all identities and they are merged when possible to have unique identities (with several identities in some cases). So for example, if you have Lucy Smith <lucy@mozilla.org> from git, and you have also and identity from Mozillians with the

[2016-10-11 11:55] hmitsch commented on #48
Thanks for the explanation. Excellent!

I am looking for "group statistics". For example: How many people do we
have in the NDA group? How does it develop over time?

Additionally, I'd be looking for general KPIs: Number of registered
Mozillians, number of vouched Mozillians, number of Mozillians with
Twittter profiles, etc.

Best regards,
   Henrik

On Tue, Oct 11, 2016 at 1:49 PM, Alvaro del Cas

[2016-10-11 12:12] acs commented on #48
@hmitsch the way we are using Mozillians right now is only to ave better unique identities and affiliations. Having KPIs for Mozillians is pretty different, but could be done. We know the API and howto gather the data.

[2016-10-11 12:16] hmitsch commented on #48
Ok, understood. Thank you very much.

Let's move this to **done** and wait for a real need to arise before we invest in further Mozillians.org integration.

Best regards,
   Henrik

[2016-10-11 12:17] #16 closed

[2016-10-12 07:19] acs commented on #49
@flamingspaz it is down again. Could you check it? Thanks a lot!

[2016-10-12 08:10] flamingspaz commented on #49
Done again, I would recommend limiting the load until we decide on the new resources.

[2016-10-12 08:46] acs commented on #49
@flamingspaz thanks. Yes, we need to retrieve and enrich data less frequently to low the load. But if people start to use the dashboard we will have problems.

[2016-10-12 14:54] hmitsch opened #52 "As a Community Analytics program manager, I want to replicate the current Mozilla Support KPI Dashboard in Community Analytics, in order to show how cool our platform is"

[2016-10-12 14:55] hmitsch commented on #52
This is the dashboard I'd like to replicate in Community Analytics: https://support.mozilla.org/en-US/kpi/dashboard

@jsmanrique, have you ever seen the Mozilla Support KPI dashboard?

[2016-10-13 08:26] sanacl commented on #13
Hi @flamingspaz and @hmitsch,
I'm reviewing the VM in order to identify why it is going down. I found OOM errors like this one.

`Oct 12 08:40:22 ip-10-0-27-67 docker[336]: time="2016-10-12T08:40:22Z" level=error msg="containerd: notify OOM events" error="open memory.oom_control: no such file or directory"`

It makes sense to me as we are handling more data than the week before. So, it is importan

[2016-10-13 09:25] hmitsch commented on #50
Waiting for: Subscription mode
Additionally Bitergia needs to define how to integrate with social media APIs in their product strategy.

[2016-10-13 09:26] hmitsch commented on #51
Waiting for: Subscription mode
Additionally Bitergia needs to define how to integrate with social media APIs in their product strategy.

[2016-10-13 09:32] hmitsch commented on #19
Let's take a "staggered approach": Make sure data for the last 30 days is available while processing the "complete data" (in some areas years of records) in the background.

[2016-10-13 09:36] sanacl commented on #9
Panel to be reviewed using the Remo v2. On top right you can see the initiatives, it that what you are looking for?

https://mozilla.biterg.io/app/kibana#/dashboard/Reps2-Activities

[2016-10-13 09:44] hmitsch commented on #1
Next step: @hmitsch and @nukeador (and @brianking) --> acceptance testing

[2016-10-13 09:45] hmitsch commented on #9
Next step: @hmitsch and @nukeador (and @brianking) --> acceptance testing

[2016-10-13 09:50] hmitsch opened #53 "Architecture diagram"

[2016-10-13 10:02] hmitsch opened #54 "Retention KPI"

[2016-10-13 10:08] hmitsch commented on #54
Related to User Story https://github.com/mozilla/participation-metrics-org/issues/52.

Bitergia people will investigate possibilities and get back.

[2016-10-13 10:09] hmitsch opened #55 "(Deployment) Cross-index searches"

[2016-10-13 10:12] hmitsch commented on #55
Create an example dashboard showing how to search across various data sources (indexes).

**Example:** Search for "Henrik's contributions" (hmitsch on Wiki, Reps, Mailing List, etc)

[2016-10-13 10:15] hmitsch opened #56 "Talk about Mozilla's MDN strategy"

[2016-10-13 10:16] hmitsch commented on #56
Integration with current MDN platform was difficult. The API is probably not providing the required data.

There  currently seems to be some movement in the MDN platform space and we want to watch that unfold before re-examining the integration of MDN contributions into Community Analytics.

[2016-10-13 10:16] #56 closed

[2016-10-13 10:29] sanacl commented on #54
We need here our analytics guy: @dicortazar . @hmitsch could you please invite him?

Dani, the idea that showed up in the meeting was to add retention rate to Kitsune. Indeed Henrik would like to explore to add retention to more data sources. As we are changing to the event-based data in a couple of months, we agreed to follow a simplistic approach here.

[2016-10-17 14:08] sanacl opened #57 "Clarify list of mailing lists to be tracked"
I'm  having a look at the initial list of gmane mailing lists we were tracking (before the gmane site went down) and the current list we are tracking and .. I see a lot of differences due to we could not find a match for all the lists at https://lists.mozilla.org/listinfo when that happened.

Below you can find a list of the gmane mailing lists we started to track with the initial deployment. The

[2016-10-17 14:31] hmitsch commented on #11
Sorry, story did not make the cut this time. Better luck next sprint.

[2016-10-18 04:40] acs commented on #11
@hmitsch the story is to add to ReMo final API the metrics info for an event right? Once we have it, it should be easy to use those metrics in the Kibana panel. So let's wait for the next sprint!

[2016-10-24 08:32] hmitsch opened #58 "Rust community metrics"

[2016-10-24 08:32] hmitsch commented on #58
Backlogged from mailbox.

[2016-10-24 13:08] hmitsch commented on #13
Blocked by lack of ParSys time to work on the issue. Not scoped for Sprint 8.

[2016-10-26 09:00] hmitsch commented on #58
# Data Sources
The following data sources are desired to be tracked.
* Rust Discourse: https://users.rust-lang.org/
* StackOverflow: https://stackoverflow.com/questions/tagged/rust
* IRC: several #rust* channels in irc.mozilla.org
* Several Meetup based and custom based meeting sites: https://www.rust-lang.org/en-US/user-groups.html
* Rust's GitHub repos
* Track crates.io
* Track internals.rust-la

[2016-10-27 07:35] sanacl commented on #19
We won't be able to have several updates per data source until we get the https://github.com/mozilla/participation-metrics-org/issues/13

What we are about to finish is a stable method to get an update for everything every 24 hours.

[2016-11-02 19:39] acs commented on #11
@hmitsch any news about that? We want to drop the old ReMo backend using the old API, but the metrics data about the event is only present in this old API. We can just drop this old backend and once that event metrics are added to the new API, start using them in ReMo panels?

[2016-11-03 10:35] hmitsch commented on #58
# Scope Desirement
Create a "Rust Community" **tab**

# Data Source Assessment
* **Meetup:** will be ready until the end of year
* **crates.io:** We need an API specification, it will take approximately until beginning of Q2/2017 to develop the Bitergia Perceval backend
* **internals.rust-lang.org:** We need an API specification, it will take approximately until beginning of Q2/2017 to develop the

[2016-11-03 14:14] brianking commented on #17
Poking around at https://analytics.mozilla.community I seem to be able to get this data.

I go to 'Reps2 Activities' and apply the following filters:

- Initiative: "MozActivate"
- A time filter using the drop down on the top right of the site

**So if I filter from 1-31 October I get 85 events**.

Question: Can I have this data presented on a separate 'MozActivate' dashboard on the site?

TODO: w

[2016-11-03 14:18] brianking commented on #18
Poking around at https://analytics.mozilla.community I seem to be able to get this data.

I go to 'Reps2 Activities' and apply the following filters:

- Initiative: "MozActivate"
- activity: "Organized an Event"
- A time filter using the drop down on the top right of the site

So if I filter from 1-31 October I get 40 hosts.

Question: Can I have this data presented on a separate 'MozActivate' das

[2016-11-03 14:24] brianking commented on #23
This does not appear to be surfaced up on the dashboard yet. It would require looking at event data for MozActivate events, and getting actual number of attendees per event, or if that is not available to use the estimated number of attendees.

[2016-11-03 14:25] brianking commented on #25
I would say Twitter would be sufficient.

[2016-11-03 14:36] brianking commented on #26
What would be nice to have here is:

- the number of Rust events in a time period
- the number of unique hosts of Rust events in a time period

One way the dashboard is surfacing this up now in 'Reps2 Activities' is via Reps reports. However, this is flawed for 2 reasons.

- Reps don't always file reports
- Attendees can also file reports, meaning it won't only be hosts

So as I mentioned when fil

[2016-11-03 15:16] hmitsch commented on #57
Checking with Mozilla IT colleagues (Sean, Ed, Corey).

[2016-11-03 15:41] jonathandturner commented on #58
Adding myself to the thread

[2016-11-03 16:21] nukeador commented on #9
Initiatives seems to be working here :-)

[2016-11-03 16:25] nukeador commented on #1
Activities are working, but it's a bit difficult to filter by one. You have to click it on the list and then click again on the graph piece, which sometimes is so small I can't click on it. Is it just me?

[2016-11-04 09:45] hmitsch opened #59 "Clarify if Mozilla's SVN and Mercurial still need to be tracked by Bitergia"

[2016-11-04 09:46] hmitsch commented on #59
Answer is: No SVN and Mercurial tracking required. Everything is mirrored into Github.

[2016-11-04 09:47] hmitsch opened #60 "What is GitHub project "Main"?"

[2016-11-04 09:50] hmitsch opened #61 "Which mailing lists were agreed to be tracked?"

[2016-11-04 09:51] hmitsch opened #62 "Clarify role of gmane for Mozilla Mailing List archives. If gmane is not a thing any longer, where can we get archives in mbox format?"

[2016-11-04 09:53] hmitsch commented on #62
Sean recommended to talk to Ed and Corey. Waiting for their feedback.

[2016-11-04 09:55] hmitsch opened #63 "Analytics for IRC and Telegram"

[2016-11-04 09:59] hmitsch commented on #63
Clarify if chat data can be visualized in a private way.

[2016-11-04 10:01] hmitsch opened #64 "Wiki tab: Last editions panel is broken"

[2016-11-04 10:01] hmitsch commented on #64
<img width="768" alt="image" src="https://cloud.githubusercontent.com/assets/869692/20001808/16ab286c-a27e-11e6-9264-1e69627de618.png">

[2016-11-04 10:05] hmitsch opened #65 "(Deployment) SOW Acceptance Test: Deduplication validation"

[2016-11-04 10:05] hmitsch commented on #65
<img width="654" alt="image" src="https://cloud.githubusercontent.com/assets/869692/20001939/9e9b8e74-a27e-11e6-954a-1640fdee9f67.png">

[2016-11-04 10:13] jsmanrique commented on #60
I think @sanacl can explain it better, but I will try.

"Main" project is the one where repositories not assigned to any project in the configuration file are assigned.

In your case, there has been an issue during latest deployment and the file was wrong. Some repositories ended tagged as part of "Main" project.

Indexes are being rebuilt, and during following hours fresh data will be uploaded, a

[2016-11-04 10:20] jsmanrique commented on #1
@nukeador I think you mean clicking in the list and click in the (+) sign that shows below the name. You don't need to click in the pie chart piece. In any case, we can re-design the panel to show a table instead of a pie chart. Or perhaps both things. What do you think?

[2016-11-04 10:22] jsmanrique commented on #59
Done. Should we close the ticket?

[2016-11-04 10:30] jsmanrique commented on #17
@brianking you can get the short link for your specific query/filter. Use the top right "share" button (next to search box) and you can the short iframe our url to be used.

For your case I think it would be:
https://analytics.mozilla.community:443/goto/79254ee778c153a5c064c123f33bd3bb

Instead of a fixed date range, I have used "latest 30 days" time filter, so each 1st day of the month you should

[2016-11-04 10:40] jsmanrique commented on #62
Related with #57

[2016-11-04 11:16] jsmanrique commented on #63
After asking to @sanacl and the tech team, it can be done through a private URL. Would that work for you?

[2016-11-04 12:13] nukeador commented on #1
Oh, I see, thanks! Then my feedback would be to have more descriptions for the buttons, it's difficult to know what they do with no "hover text", in this case I was assuming zoom in, not filter by ;-)

[2016-11-04 12:28] jsmanrique commented on #1
That's a Kibana limitation. Actually, you will see two buttons:
* (+) means "filter by all the items that have selected value" (positive filter)
* (-) means "filter by all the items that doesn't have the selected value" (negative filter)

Some info about Kibana dashboard filters:
https://www.elastic.co/guide/en/kibana/4.1/dashboard.html#dashboard-filters

[2016-11-04 12:53] jsmanrique commented on #58
After asking @sanacl, we could have/provide:
* Project "rust-lang" tagged in current analytics.mozilla.community (as we already do for git and github). So you would be able to filter by "rust-lang" project in git and github tabs, and we could add meetup tab including "rust-lang" project and maybe others from Mozilla
* Set up a separate dashboard with just "rust community" tabs

In any case, you wo

[2016-11-07 10:49] hmitsch commented on #9
Cool, closing issue. Thanks @nukeador!

[2016-11-07 10:49] #9 closed

[2016-11-07 10:52] hmitsch commented on #1
Looks like you have all the parts you need for event report analytics?

@nukeador we are closing this issue because your comment on filtering is not actionable due to the fact that we are using Kibana out-of-the-box capabilities here. Please re-open the issue in case you disagree with this handling.

[2016-11-07 10:52] #1 closed

[2016-11-08 13:33] acs commented on #64
Fixed!

[2016-11-08 13:33] #64 closed

[2016-11-09 12:16] hmitsch commented on #61
From the discussion with @jgbarah:

We want to get *all mailing lists* which are hosted as newsgroups *on news.mozilla.org* into our index.

Solution architecture to get mailing lists from an NNTP data source still needs to be defined by Bitergia, as this impacts product strategic decision for Bitergia.

[2016-11-10 11:06] jsmanrique commented on #60
Issue solved. Would you mind check it @hmitsch?

[2016-11-10 15:59] sanacl commented on #58
@hmitsch with the current VM and database we can deal with more projects like rust. What we would need is a new ES. I've been working on an estimation for it:
* **64GB RAM** for ES is needed
* **500 GB for HD** the current version would use around 50 GB HD but, the next version based on events will impact on the size of the information. Our first tests say we will have x20 space needs. I mean, if

[2016-11-11 13:34] hmitsch commented on #58
Updated https://tree.taiga.io/project/pierros-mozilla-particiaption-systems/us/185?kanban-status=904519 according to @sanacl's spec.

[2016-11-16 17:36] couci opened #66 "ReMo Categories on the ReMo Dashboard"
Right now on the RepsV2 dashboard we are able to filter based on activities and initiatives however we can not filter based on categories (for example rust, l10n, addons etc)

Is that a feature we can have?

[2016-11-22 08:39] acs commented on #66
@couci yes, you can have it. I have reviewed the data in the current indexes and it is not included in the index used in Kibana, but the information is included in the raw index collected from ReMo v2 API. So we need to propagate the data and include the filter in the dashboard.

[2016-11-22 12:18] acs commented on #66
@couci we can add categories for the events, but not for the activities because this information is not included in the data offered by the API. For example:

https://reps.mozilla.org/api/remo/v1/activities/40822/

[2016-11-22 14:37] couci commented on #66
That would be a good first step. Since this is going to be only for events, are we going to include both conducting an event and participated on an event activities or just conducted events?

[2016-11-24 10:39] hmitsch commented on #63
Abandoned request due to technical limitations.

[2016-11-24 10:39] #63 closed

[2016-11-24 10:41] hmitsch commented on #60
This was a bug by Bitergia which was fixed.

[2016-11-24 10:41] #60 closed

[2016-11-24 10:42] hmitsch opened #67 "(Deployment) Filter two GitHub bots"
* B2G Bumper Bot
* bors

[2016-11-24 10:49] hmitsch commented on #53
![2016-11-24 bitergia architecture](https://cloud.githubusercontent.com/assets/869692/20595846/eb761d00-b23b-11e6-93da-c5303246a697.png)
This is a hand-drawn architecture diagram from @jgbarah. Something like this in an open drawing format (e.g. draw_io) would be excellent.

[2016-11-24 10:53] hmitsch commented on #55
Another example:

**Contributor Panel**
The panel shows the number of contributors from **all** data sources.
* Git
* Bugzilla
* Reps
* Kitsune
* Wiki
* ...

[2016-11-24 10:57] hmitsch commented on #54
Not for Deployment phase. @sanacl will check for effort estimate once again to see if it can be done with the 2016 data model or if we have to wait for the _early 2017 release_.

[2016-11-24 11:01] hmitsch commented on #19
Data loading issues were intensely analyzed and a lot of things were fixed. Currently, data imports are working.

[2016-11-24 11:01] #19 closed

[2016-11-24 11:03] hmitsch commented on #2
Dashboard was presented to Julia. She loves it.
Additionally, the data is now updated regularly.

Closing issue. Thank you very much!

[2016-11-24 11:03] #2 closed

[2016-11-24 11:04] hmitsch commented on #5
List was imported recently. Closing issue.

[2016-11-24 11:05] hmitsch opened #68 "Implement NNTP Backend in Perceval"
Work is based on new SoW.

[2016-11-24 11:08] hmitsch opened #69 "Time-bound organization affiliation"
People are staff (Mozilla Corporation organization) for a limited amount of time. It is important to differentiate between their contributions as staff vs. volunteer.

[2016-11-24 11:12] hmitsch opened #70 "Assigning people to organizations"
Bitergia will provide a final format to assign people to organizations. This is a problem they are currently solving generically for various customers.

Due Date: end of December

[2016-11-24 17:05] sanacl commented on #5
Hi again @hmitsch. I've reviewed the log of the deployment and it is not clear that we've imported this data in the identities database. I'm claiming it and solve it by next week's call.

[2016-11-24 23:40] #59 closed

[2016-11-24 23:40] #62 closed

[2016-11-24 23:40] #57 closed

[2016-11-24 23:40] #61 closed

[2016-12-01 09:40] sanacl commented on #67
Data is updated in our SortingHat database. The blocking task to move this to the enriched data is we don't have that feature with the current software version and indexes we have. I tried to do it with the previous version but it does not make such an effort.

.. Thus, in order to start moving to the new software (where updating bots, affiliation data and profiles is much much quicker) I've deplo

[2016-12-01 09:42] sanacl commented on #5
Data is already loaded in the Sorting Hat (identities + affiliations) database This tasks depends on finishing to produce the index named: git_mozilla_160801_enriched_161201

[2016-12-01 12:32] sanacl commented on #65
This is the information our system gathered about you Henrik
[code]

Have a look at the identities section, we have the different columns:
* id (a hash)
* name
* email
* source of the information

The process to get unified identites is basically the following:
* we gather data from all the data sources
* extract the accounts we find and store them in a database.
* Lather, we apply a heuristic in

[2016-12-01 12:41] sanacl commented on #55
See https://github.com/mozilla/participation-metrics-org/issues/65#issuecomment-264162306

[2016-12-01 16:12] sanacl commented on #53
![grimoirelab](https://cloud.githubusercontent.com/assets/326719/20801466/519dbcde-b7e9-11e6-9094-98a8547c9555.png)

[2016-12-01 16:12] sanacl commented on #53
I hope you guys like it :)

[2016-12-05 05:45] acs commented on #11
@hmitsch we have already dropped the old remo backend using the prev1 API. I hope metricsdata will be added to thew new API so we can use it in the dashboard.

[2016-12-08 22:29] sanacl commented on #67
New git index produced with updated information about affiliation:
- 1. bots updated
- 2. affiliation about Mozillia staff reviewed (some affiliation errors were found in the old index)
- 3. repository forks removed (some forks like rust-lang/llvm.git)
- 4. this new index was produced following our fresh software, which improves the way we can update affiliation and identities data (basically we c

[2016-12-09 13:37] sanacl commented on #67
Index applied. Up & running.

[2016-12-09 13:38] sanacl commented on #65
Can we close this ticket @hmitsch ?

[2016-12-09 13:39] sanacl commented on #53
@hmitsch Can we close this ticket?

[2016-12-09 13:39] sanacl commented on #55
Can we close this ticket?

[2016-12-09 13:40] sanacl commented on #5
New index published.

Can we close this ticket?

[2016-12-09 13:42] sanacl commented on #70
I'm working on this during next two weeks.

[2016-12-14 11:31] hmitsch opened #71 "Employee list for organization "Mozilla": clarify if it is possible to list a start and end date of employment"
Talk to mhoye

[2016-12-14 11:37] sanacl commented on #53
Source file included:
[Bitergia Analytics Platform.xml.gz](https://github.com/mozilla/participation-metrics-org/files/651595/Bitergia.Analytics.Platform.xml.gz)

[2016-12-14 11:39] hmitsch commented on #53
Next step: @hmitsch to store somewhere on the ParSys wiki pages.

[2016-12-14 11:45] hmitsch commented on #55
Successful acceptance test done using the **Overview dashboard** (see https://analytics.mozilla.community:443/goto/720fbb09d1cfed6b28863e245555c770).

[2016-12-14 11:45] #55 closed

[2016-12-14 11:46] #65 closed

[2016-12-14 11:48] #5 closed

[2016-12-14 11:50] hmitsch commented on #69
Feature is available in the platform, see **Enrollment** information in https://github.com/mozilla/participation-metrics-org/issues/65#issuecomment-264162306

[2016-12-14 11:50] #69 closed

[2016-12-20 13:21] sanacl commented on #58
Hi guys, I want to polish up our internal planning and would love to know what is the ETA for having the Elastic Search server for Rust. Thank you!

[2016-12-21 10:54] hmitsch commented on #48
Need identified: We'd love to decommission https://stats.mozilla.community

/cc @comzeradd

[2016-12-23 11:27] sanacl commented on #70
Hi @hmitsch , I didn't make it. It will be my top priority as soon as I come back from holidays (on January 4th)

[2017-01-04 11:29] jsmanrique commented on #48
Ok! Let's try to define which stats/metrics you would like to see in the public website.

@hmitsch from your previous comments, I see:

* "group statistics"
  * How many people do we have in the NDA group?
  * How does it develop over time?
* General KPIs:
  * Number of registered Mozillians
  * Number of vouched Mozillians
  * Number of Mozillians with Twittter profiles
  * etc.

@acs , what do y

[2017-01-05 11:53] geroter opened #72 "When I export data, it only gives me a limited number of rows"
**Expected result**
When I press export from Reps Events, it either gives the option for selecting how much data (date range?), or just gives me all of the data.

**Actual result**
I press export and get a CSV with about 35 rows.

I'm specifically looking at this for Reps Events, but I've noticed this elsewhere.

[2017-01-05 13:45] jgbarah commented on #72
This is because there are limits to the information shown in tables, for performance reasons. However, the current limit (30 in most cases) is probably too conservative. We can enlarge it. I'm opining an internal thread at Bitergia to do that.

[2017-01-09 05:34] acs commented on #72
@geroter do you want a quick fix now for Reps Events until we deploy the general approach we are discussing right now?

[2017-01-09 09:22] geroter commented on #72
No quick fix needed.

For personal purposes, being able to choose the number of records to export (better even is date-range) would be ideal, especially if we are doing more detailed analysis of qualitative data about the events (which right now can't be done in Kibana).

[2017-01-09 12:38] flamingspaz commented on #58
Hey folks, This was done a while ago and the instance is up at search-bitergia-rust-metrics-es-zz47dbqnlapavj6rd23tpdp62m.us-west-1.es.amazonaws.com

[2017-01-09 16:16] hmitsch commented on #66
"activity": "Attended an Event",
    "initiative": null,
    "functional_areas": [
        {
            "name": "Connected Devices"
        }

[2017-01-09 16:24] hmitsch commented on #66
# Example

- Reps Event Page: https://reps.mozilla.org/e/mozactivate-tour-training-1/

- Bitergia Event: https://analytics.mozilla.community/edit/app/kibana#/doc/remo2-events/remo2-events-dev_161122_enrich_161122/items?id=fbcb20c391c5f0d772b240ddadebf364a897ef3c&_a=(filters:!(),query:(query_string:(analyze_wildcard:!t,query:'*')),vis:(aggs:!((params:(field:initiative,orderBy:'2',size:20),schema:se

[2017-01-09 16:51] hmitsch commented on #66
Reps API Event: https://reps.mozilla.org/api/remo/v1/events/6208/

    "initiative": "MozActivate",
    "categories": [
        {
            "name": "Technical Evangelism"
        }

**Conclusion:**
We need the `categories name` in Bitergia Community Analytics.

[2017-01-10 00:42] jgbarah commented on #72
That could be done likely more easily with direct queries to ElasticSearch. In fact, you can get the base query from the table (in the editing dashboard you can see the query done to produce the table), maybe complement it, and query ElasticSearch directly.

In any case, for date-ranges, you can use the time filter (top right on the dashboard), and filler by the date-range you want. The whole dash

[2017-01-10 13:44] brianking opened #73 "Full event text search for MozActivate events"
Steps:
1. On the 'Reps Activities' dashboard, filter by MozActivate and 'Orgnaized an event'
2. Enter the strong 'compat' (without quotes) in search box and filter

Desired result:
30+ events appear, as the search covers not only event titles but also descriptions

Actual Result:
Only 7 event results appear.
It is unclear to me what is being searched here.

Searching directly on the Reps portal do

[2017-01-10 17:49] jonathandturner commented on #58
Thanks for the reminder.  I need to run this through the Rust core team before we start publicizing it.  If I recall, there were a few changes we might want before it's "live".

[2017-01-11 01:15] jgbarah commented on #73
I'm not sure, but I guess the search string you want in this case is "*compat*" (without the quotes). Please, check the screenshot below, which finds 25 events.

![selection_099](https://cloud.githubusercontent.com/assets/1039693/21831337/561e5c76-d7a3-11e6-9b10-6762c17ca819.png)

Is that result right, or we´re still missing some events that you expected to see?

[2017-01-11 11:17] mermi commented on #25
If you would extract Data from Twitter or any other Social Media Account is better to use Sentimental Analytics tools with Bitergia you can't extract Data from Fb, Instagram or either Twitter.
So I think the best idea is to try [Heartbeat Analyses](https://github.com/sarahsharp/foss-heartbeat) tool I think you can get what you want with it, it's my personal suggestion.

[2017-01-13 11:52] sanacl commented on #70
Working on it, will be delivered to you by Monday.

I'll offer both an example and the information you guys have provided following this format (the second will be offered in a secure environment so you can check).

[2017-01-16 23:31] sanacl commented on #70
Hi again guys. I'm working on a definition of the YAML file this week, you can check a real example at https://github.com/Bitergia/identities/blob/master/README.md

Our scenario is:
* you guys modify the identiti(es) file in GitHub
* the system notices the change and upload the information in our identities database
* the indexes are updated with the changes

Just as a reminder, the typical change

[2017-01-17 19:14] brianking commented on #73
Yes, this does indeed look like the right numbers @jgbarah ... thanks. I was not aware of the convention of surrounding text with asterix.

I will close for now, and re-open or file a new issue if I notice any anamolies.

[2017-01-17 19:14] #73 closed

[2017-01-19 22:15] mermi opened #74 "Urgent Need to understand the Data extracted from Reps API and the formatting"
So I have been working on the Community Analytics these days and from the Community Analytics Stories Henrik have sent to me I have been focusing more in Mozilla Activate program, I made this [dashboard](https://analytics.mozilla.community:443/goto/736d77554b2df6bddfc2f3ee1d89b3e7) which contains some interesting charts. My remark is that the Data is not so clear I feel is making me in a confusion

[2017-01-19 22:20] hmitsch commented on #74
Hi @jsmanrique and @sanacl,

can you please have a look at the issue @mermi describes and see if you can answer her points?

Best regards,
   Henrik

[2017-01-19 23:09] jgbarah commented on #74
Hi, @mermi, just to clarify: when you say "Data", what do you mean? The "remo2-activities" index, maybe?

[2017-01-20 08:10] mermi commented on #74
Yes when I say Data is the fields in "remo2-activities" index @jgbarah

[2017-01-20 12:09] jgbarah commented on #74
@mermi, thanks for the clarification. So, you want to use the "remo2-activities" index, for example for items labeled as "Organized an event". But from that point on, I'm not sure what you intend to do. Maybe finding out those items where "Rust" is mentioned? Something else?

I'm sorry about my lack of context, but maybe if we can define as much precisely as possible one scenario, it's easier to f

[2017-01-20 12:31] mermi commented on #74
ok, let's say we need to visualize this Scenario: I want to see the Number of people hosting Rust events as part of the MozActivate Campaign=> that means they are Organizing Rust Event, whenwe look to the "remo2-activities" index we have just the activity field and user to work with. if we want to look deeply, looking in the activity field content, you will see you have "Dive Into Rust"[1] and "Or

[2017-01-20 18:59] mermi commented on #74
For Example here I found we can Filter Too with MozActivate - Dive Into Rust That means the User made a Report or an Event in the Reps Portal with the Activity "What Do you Do?" == "MozActivate - Dive Into Rust" https://analytics.mozilla.community:443/goto/11efc4d3707dbcfaf1f297d96ea57585 and here we reply to this [Scenario](https://github.com/mozilla/participation-metrics-org/issues/26) but here

[2017-01-20 18:59] jgbarah commented on #74
Thanks for the description. The problem I see with that scenario, is that in the "remo2-activities" index we have information about the role (`Organizing an event`, for example), in field `activity`, but we don't have categories in it to filter. That's discussed in #66 and that's in the pipeline for being implemented.

So, for now the only thing that can be done is, as you suggest, search for "Rus

[2017-01-20 19:09] jgbarah commented on #74
We get (I guess) all the data available from the Remo API. Then, for now we basically produce one index per API entry point. For example, "remo2-activities" is obtained from the `activities`entry point, where we retrieve JSON documents such as [the one for actiivty 40822](https://reps.mozilla.org/api/remo/v1/activities/40822/).

Currently there is no documentation besides the source code for the [

[2017-01-20 19:23] mermi commented on #74
So if I have understood correctly how it's working you are extracting the activities from the User page with some information for the user? right?

This one https://analytics.mozilla.community:443/goto/6218eefd6d1da6d37c1020008ea40a2c replies on the Scenario I was talking about but with *rust* filter I don't if it's right or not and also it's really giving the event organized by the "X" user and i

[2017-01-20 19:30] jgbarah commented on #74
Not exactly. We get the data from the Remo API, in this case the [activities API](https://reps.mozilla.org/api/remo/v1/activities/). We get that list, and go through all the items in it, each of them representing an activity, such as [this one](https://reps.mozilla.org/api/remo/v1/activities/37813/).

If you look at the second link, you can see there is some information about the user, and then ba

[2017-01-20 19:40] jgbarah commented on #74
I'm sorry, but I don't fully understand this. Just to try to clarify: each element in the index is one element we get from the activities API. If I understand correctly that API, each item corresponds to an activity, as recorded by a Remo user. So, if you filter by `activity: Organized an event` and `*rust*` you get all the recorded activities where the user was "organizer", and Rust was mentioned

[2017-01-23 10:08] mermi commented on #74
Yes, I agree that we need an expert on Remo API, because using the solutions we were discussing on the filter phase will bring some different results, I usually do the unique count on activity, and make two filters one for the bar and the other for the chart [column] to get the people who organized *rust* event or people who attended *rust* event. but the confusion show up clearly in the analyze p

[2017-01-23 10:54] MichaelKohler commented on #74
I can see what you mean. I've tried to analyze this for one Rep (https://reps.mozilla.org/reports/rep/Mte90/), he's not matching anything with the *rust* filter, but has one entry for the "Dive Into Rust" initiative. Due to this, I wanted to see which report is in the "Dive Into Rust" activity, without having the keyword "rust" in it. However, on his reports (where the activities are coming from)

[2017-01-23 12:22] mermi opened #75 "Data Extracted from Reps API give a wrong information"
Recording to this issue #74 , @MichaelKohler was noticed on the chart about Rust I mentioned [https://analytics.mozilla.community:443/goto/67a0100c14f618d912ef92c8dd477dfa ] shows that Daniele Scasciafratte made one activity about Rust in the last 6 months, I have another chart showing the Evolution of Mozilla activities per Date [https://analytics.mozilla.community:443/goto/266e251164ce5240b0fe5e

[2017-01-23 12:29] MichaelKohler commented on #75
@mermi you linked the wrong visualization, it should be this one: https://analytics.mozilla.community/edit/app/kibana#/visualize/edit/Categorical-of-User-who-organized-a-rust-Event?_g=(filters:!(),refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-6M,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:%27*%27)),uiState:(),vis:(aggs:!((id:%273%27,

[2017-01-23 12:51] MichaelKohler commented on #75
Could it be that the filter is a "contains any of the following strings" filter? Then Daniele's "Rust planning" would hit that requirement, since it contains "Rust". If so, how can we search for a string and a full string only?

[2017-01-23 17:05] sanacl commented on #75
Thanks for your feedback @MichaelKohler, we are having a look. We'll update you tomorrow.

[2017-01-23 19:16] jgbarah commented on #75
Side comment: when you need to post links to the Kibana-based dashboard, you can use the shortener. Just click on the second icon, starting from the right, when you unfold the sharing panel. That will shorten the link before actually sharing, making it much more easy to handle. For example, the link above by @MichaelKohler would be:

[https://analytics.mozilla.community:443/goto/7ae4ce73f419594695

[2017-01-23 21:38] jgbarah commented on #75
I'm going to address this in several comments. To start with, let's see how we can learn which entries in the index correspond to the entry for Daniele Scasciafratte that you find in your [visualization](https://analytics.mozilla.community:443/goto/7ae4ce73f4195946951b98d6ac52a269).

Let's start with your visualization, and let's select the bar corresponding to  Daniele Scasciafratte just by click

[2017-01-23 23:10] jgbarah commented on #75
OK, so we were at the [search panel with the filters for "Organized an event", "Danielle Scasciafratte" and "Dive into Rust" as sticky filters](https://analytics.mozilla.community/goto/e8eeb9eab4a1ab92f79782220e281753). Why the only item shown does not have "Dive into Rust"? The short answer is "because in the query we're really asking for "Dive" OR "into" or "Rust". I'm not completely sure, but I

[2017-01-23 23:35] jgbarah commented on #75
Now, let me show you how this can be done in other way. Let's assume you want to know the list of people organizing activities related to Rust. For that, we can create a table, and bucketize it with a filter ("rust"), terms (author_name), and terms (activity). Once you have the table, you click on the table on the kind of activity you're interested in: "Organized an event". As a result, you have t

[2017-01-23 23:56] jgbarah commented on #75
For doing it with a bar chart, I've designed this visualization, which [shows persons doing certain activities mentioning Rust](https://analytics.mozilla.community:443/goto/e9388b336f1bcf14716e2d9a23e43ee3). You can notice how Rust is specified with a filter (by editing the filter you can use some other word instead of Rust), and how for each person all the activities in which participated with di

[2017-01-23 23:59] jgbarah commented on #74
@MichaelKohler said:

Maybe the comments in #75 are enough to understand what's happening, and how to do what you need?

[2017-01-24 00:12] MichaelKohler commented on #75
Wow, this is an amazing explanation! Thanks a lot!

Some quick notes:
* Good to know about the filter pins, that is really useful.
* Daniele's activity is hit because of the word "into", not because of Rust

@mermi I've played around with it and it looks good to me. However we need to take care of the fact that we always have "Organized an Event" as activity and "MozActivate" as initiative for eve

[2017-01-24 00:13] MichaelKohler commented on #75
As this is not a bug, I think we can close this issue. We would open up a new one if we should find anything else.

[2017-01-24 00:16] MichaelKohler commented on #74
Yes, this is okay for me. Maybe @mermi has some more questions.

[2017-01-24 07:29] acs commented on #48
@jsmanrique it is a good initial approach. Let's define with more detail what will be included once we start with the implementation.

[2017-01-26 21:46] hmitsch commented on #75
Closing issue, as mentioned by @MichaelKohler.

[2017-01-26 21:46] #75 closed

[2017-01-26 21:49] hmitsch commented on #72
@jgbarah and @acs do you have an update concerning the internal thread mentioned above in https://github.com/mozilla/participation-metrics-org/issues/72#issuecomment-270647032?

[2017-01-26 21:52] #49 closed

[2017-01-26 21:53] hmitsch commented on #58
Rust dashboard is live. Closing issue.

[2017-01-26 21:53] #58 closed

[2017-02-13 08:26] sanacl opened #76 "Wrong affiliation for a Mozilla employee"
Last week @hmitsch reported one of the Mozilla employees (J.M) appears also as a Community member. I confirm this is a bug, due to a wrong affiliation in our database. The contributor appears both working for Mozilla and as a volunteer.

This is a bug we suffered in the past so we're reviewing the affiliations for all Mozilla staff.

[2017-02-13 15:50] sanacl commented on #76
Affiliation database was reviewed. We found more affiliation conflicts with people both "affiliated to Mozilla Corporation" and "Community". All of them were fixed.

The index is being refreshed now, should be ready by tomorrow 11AM CET.

[2017-02-13 16:19] sanacl opened #77 "Main companies chart showing wrong information"
Before upgrading the Git and Github panels to its latest stable version, we need to discuss what affiliation information we want to show.

Having a look at the companies pie chart at https://analytics.mozilla.community/app/kibana#/dashboard/Git we can see activity for "Community", "Mozilla" and a set of organizations/companies. These companies are not supposed to be there because the idea is havin

[2017-02-16 17:41] acs commented on #66
@hmitsch working on adding this field, categories name, to Bitergia Community Analytics. We will add also a widget to filter events using it. Probably before next Monday meeting it will be done.

[2017-02-17 11:12] sanacl commented on #76
The affiliation for this user was properly updated.

This morning I saw we are using an email as this profile name. It seems when our process merged the identities we forgot to run the process which uses the data from Mozillians as primary data to be shown on the user name. Data is updated in the users database and being refreshed again.

[2017-02-20 10:06] hmitsch opened #78 "Twitter GELK module setup"
Hi Bitergia'ns,

for the three months free trial of the Twitter module, please track the following keywords (in order of priority):

    mozilla
    firefox
    internethealth
    webliteracy
    teachtheweb
    MozillaClub
    servodev
    WebVR
    privacyaware
    digitalinclusion
    MozLearn
    thimble
    parsys

Are there any other configuration options you'd like us to provide?
Best regar

[2017-02-20 10:11] hmitsch opened #79 "Kibana 5 upgrade"
Community Analytics will be upgraded to Kibana 5. It is currently estimated during March. As a consequence all panels will be updated to the lates Grimoire Lab panels (incl. enrichment libraries).

[2017-02-20 10:27] hmitsch commented on #74
Note from a call with Bitergia (which we currently have):

[2017-02-20 10:39] hmitsch commented on #70
Note from today's Bitergia call:

Mozilla is thinking of using the "organizations capability" to assign contributors to "programs" (e.g. Reps, Campus Clubs, etc).
This would require a contributor to be part of more than one organization at the same time.

Bitergia will check if this breaks the exisiting (data) architecture.

[2017-02-20 10:47] hmitsch commented on #70
Another note:

We are aware that the current "employee list" does not contain any records on DATE. This means that a volunteer contributor who is hired (or vice versa) will always be listed as "MoCo contributor".

[2017-02-20 10:55] hmitsch opened #80 "Jesús send OpenStack and Linux Foundation diversity analytics info"
* Gender is matched based on names
* API used: https://genderize.io
* Analysis based on statistical numbers, not individuals' data

[2017-02-20 17:41] sanacl opened #81 "Incoherent "Last retrieval" date on Data Status panel for remo."
According to the Remo panels, there is data available from Feb 18th, but having a look at the data status panel the date for "Last retrieval" is December 12th 2016.

[2017-02-20 21:14] hmitsch commented on #81
<img width="582" alt="image" src="https://cloud.githubusercontent.com/assets/869692/23141979/cee0447c-f7b9-11e6-853c-7e9e7ec316e4.png">

[2017-02-22 09:09] hmitsch opened #82 "Following people's contributions on Github"
The idea is that based on their github usernames to be able to see all of their contributions in any open github repo (no only ours). Just like the github heatmap we all have in our profile but this time, in bitergia analytics dashboard.
We are want to capture and understand our students interaction with the open source world and understand the impact that our program have in their life.

For exam

[2017-02-22 09:09] hmitsch commented on #82
/cc @bacharakis on this requirement

[2017-02-22 09:12] bacharakis commented on #82
Thanks @hmitsch ! The description is perfect!
Let me know if you need anything else.

[2017-02-22 13:08] sanacl commented on #81
Software patch applied and data is refreshed. We are having some issues with this data source due to we are not using the latest release for it. We are upgrading it during the next 2 weeks (it will be transparent to you guys).

Could you please let me know where I can get the view of events you get in Reps? So I can review data is coherent with its data source.

[2017-02-22 22:15] geroter opened #83 "(Prio 0 for Q1/2017) Track a "new technical contributor" metric"
We have a goal this year of increasing technical contributors to the project. I'd love to create a special visualization for this, if possible.

For now, the query/visualization would be:

- git author
- who has never been a git author in Mozilla repos before
- who is not a Mozilla employee
- displayed as a bar chart by month

So, if there were 120 brand new git authors in Jan 2017, then the bar w

[2017-02-22 22:54] jgbarah commented on #82
We're analyzing the GitHub API, and it seems doable. It is not clear yet if the GitHub user should authorize an app (to use a token in their name). I hope to have an answer about that soon.

[2017-02-23 07:50] jgbarah commented on #83
Thanks for the suggestion. We're working on something quite similar. Let us roll it out: we'll keep you informed, and then we can discuss if it is what you need.

[2017-02-23 11:15] geroter commented on #83
What's the timeline? I'm hoping to use this for monthly reporting starting ASAP, and need to use it for quarterly reporting starting late March.

Otherwise I need to figure out another way to do this query.

Thanks,
George

[2017-02-23 12:00] jgbarah commented on #83
If needed, we can produce the query for you, or just teach how to do it with a Python script directly from live data. In any case, I hope to have it by late March. If you don't need it before, we could sync like in 7-10 days from now, and if it seems it is delayed, revert to the script thing.

[2017-02-23 15:54] geroter opened #84 "Add a new data source from Survey data"
Here's the use case:
- I'm collecting responses in Survey Monkey
- I'd like to eventually display some of the data within our dashboard
- I can automatically connect to the Survey Monkey API through Zapier
- I have options to push new records to either a GDoc Spreadsheet, MySQL DB, or webhook URL ... probably some others

What would be the easiest way to get this data over to you to integrate into

[2017-02-23 15:58] geroter commented on #84
Likely we need continuous/automated, but it doesn't need to be that often (daily is fine).

My big question is what the least amount of work is on Bitergia's end for this?

Seems like the webhook or spreadsheet are the easiest.

Though Manel is interested in building the python to surveymonkey api connection, so that might be cool and reusable for you on future projects?

[2017-02-24 17:02] couci commented on #66
Hello,
I was wondering when will we have this since we need the data in order to send targeted messages to some of our Reps

[2017-02-27 12:10] jsmanrique commented on #21
Current status: **93**

[2017-02-27 12:16] sanacl commented on #68
The NNTP development is being tested this week. I confirm we are on time.

[2017-02-27 22:31] bacharakis commented on #82
Hi there!
Do we have an update on this? Sorry for pinging you again but I would like to have a final projection on this in order to plan accordingly from my side.
Thank you

[2017-02-27 23:16] jgbarah commented on #82
I hope to have a proposal by Wednesday. Some of us are looking carefully at the GitHub Search API, which seems to provide all we need, and then we have to schedule the needed work to provide you with a reasonable time frame.

Do you need this urgently?

[2017-02-28 00:01] jgbarah commented on #66
We already have the changes needed to the software: a new version of Gelk producing the needed indexes, and some new panels. AFAIK, everything is scheduled to be deployed during this week. @acs if you have more precise info, please let us know.

[2017-02-28 11:32] hmitsch commented on #80
Mail received. Thank you!

[2017-02-28 11:32] #80 closed

[2017-03-02 00:12] jgbarah commented on #82
We have been studying the different entry points in GitHub APIs. We have come to a solution that very likely will allow us to produce a dashboard for a certain list of GitHub users, including at least their last contributions (commits, issues, pull requests), in the order of about 1,000 each.

GitHub APIs are very limited in this respect, and that's why the limit on 1,000 contributions, but we're

[2017-03-07 10:41] hmitsch commented on #66
@acs any updates on this? Did the deployment happen?

[2017-03-07 12:16] acs commented on #66
@hmitsch I think the current deployment has already this fix/feature. @sanacl could confirm it.

[2017-03-07 12:47] couci commented on #47
#MozActivate has already been made. @hmitsch I will gather twitter hashtags that we are interested noow to track and share with you. Right now we don't need this anymore

[2017-03-07 12:47] #47 closed

[2017-03-07 12:49] couci commented on #46
WebVR Camp activity will change so this is no longer needed. If we decided that blogposts is a meaningful metric I will reopen this one.

[2017-03-07 12:49] #46 closed

[2017-03-07 12:51] couci commented on #45
Slack is changing for Mozilla right now with the desire to creat just one channel. This should stay on hold until we get things moving forward there

[2017-03-07 12:52] couci commented on #44
issue same with #45 so I am closing this one

[2017-03-07 12:52] #44 closed

[2017-03-07 12:53] couci commented on #43
This will be resolved once we have the categories on community analytics

[2017-03-07 12:53] #43 closed

[2017-03-07 13:00] couci commented on #42
This will be resolved with adding categories on the community analytics.

[2017-03-07 13:00] #42 closed

[2017-03-07 13:00] couci commented on #41
This will be resolved with adding categories on the community analytics.

[2017-03-07 13:00] #41 closed

[2017-03-07 13:01] couci commented on #40
e10s and Featured addons is not an active activity thus closing this one

[2017-03-07 13:01] #40 closed

[2017-03-07 13:01] couci commented on #39
activity no longer active

[2017-03-07 13:01] #39 closed

[2017-03-07 13:03] couci commented on #38
Activity no longer active

[2017-03-07 13:03] #38 closed

[2017-03-07 13:36] sanacl commented on #66
The new set of indexes still needs to be move to production. Tomorrow we'll switch the old ones and you'll have the latest data we gather with our latest software.

[2017-03-07 23:10] jgbarah commented on #45
Slack is already supported by Perceval, and will (hopefully) be soon supported by Gelk, so we could reconsider this if you want... (but still, privacy and other concerns, such as those that arose with Telegram, should be addressed).

[2017-03-08 09:30] sanacl commented on #66
Hi @hmitsch and @couci, first live versions of the panels ready. We're switching the link to these new ones during the day:

* https://analytics.mozilla.community/edit/app/kibana#/dashboard/Reps-Events
* https://analytics.mozilla.community/edit/app/kibana#/dashboard/Reps-Activities

[2017-03-08 09:57] couci commented on #66
cool beans! thanks so much for this

[2017-03-08 10:03] hmitsch commented on #66
This works great, thank you!

[2017-03-08 10:07] hmitsch commented on #50
Twitter panel is now available in Community Analytics.

[2017-03-08 10:07] #50 closed

[2017-03-08 10:09] hmitsch commented on #78
Additional keyword configured:

   MozActivate

[2017-03-08 10:10] hmitsch commented on #78
Twitter integration works.

[2017-03-08 10:10] #78 closed

[2017-03-08 10:12] hmitsch commented on #13
Abandoned and/or done.

[2017-03-08 10:12] #13 closed

[2017-03-08 10:14] hmitsch commented on #82
Mozilla-internal budget discussion is currently happening.

[2017-03-08 10:21] hmitsch commented on #77
Let's use the following workaround:

* Email domains **mozilla.com** and **mozillafoundation.org**: Assign to **organization "Mozilla"**
* **Everything else**: Assign to organization **"Community"**

[2017-03-08 10:22] #76 closed

[2017-03-08 10:23] hmitsch commented on #81
Fixed.

[2017-03-08 10:25] hmitsch commented on #74
Lets settle on **functional area** for this term. Please change all panels accordingly.

[2017-03-08 10:34] hmitsch commented on #70
Let's use this private repo for the identities store:
https://github.com/mozilla/participation-metrics-identities

[2017-03-08 10:38] hmitsch commented on #72
Bitergia concluded that they keep the current configuration.
For an undefined point in the future, there might be the possibility to extract data from the database.

[2017-03-08 10:42] hmitsch commented on #48
Let's restart work on this topic.
Next step: @jsmanrique will request a rough time estimate.

-Henrik

[2017-03-08 13:00] sanacl commented on #68
So far we've collected 512090 documents. Data collection still in progress.

[2017-03-08 15:51] #36 closed

[2017-03-08 15:51] couci commented on #37
Not an active activity any more, closing

[2017-03-08 15:51] #37 closed

[2017-03-08 15:54] couci commented on #35
not active any more, closing

[2017-03-08 15:54] #35 closed

[2017-03-08 15:55] couci commented on #34
not active any more, closing

[2017-03-08 15:55] #34 closed

[2017-03-08 16:19] couci commented on #27
This can be resolved based on the last addition of functional areas in the portal, closing

[2017-03-08 16:19] #27 closed

[2017-03-08 16:21] couci commented on #30
this has been resolved based on the last addition of functional areas in the analytics site

[2017-03-08 16:21] #30 closed

[2017-03-08 16:25] couci commented on #26
this was fixed with the last update with functional areas, closing

[2017-03-08 16:25] #26 closed

[2017-03-08 16:26] couci commented on #25
we have this now on our twitter analytics

[2017-03-08 16:26] #25 closed

[2017-03-08 16:31] couci commented on #18
Separate dashboard is not needed for now since we are moving to a strategy of most reps activities will be activate.

[2017-03-08 16:31] #18 closed

[2017-03-08 16:49] #17 closed

[2017-03-08 16:53] couci commented on #24
Leaving this as a Meta issue, however taking out metrics for non active activities

[2017-03-08 16:55] couci commented on #23
I think what is asked here is number of authors that appears on the if the dashboard is filtered properly.
So I think this should be closed @hmitsch ?

[2017-03-08 17:00] couci commented on #29
I think there is a work around on this by providing the link to the participants on our activate page and measure the clicks there, otherwise it can become a self reported metric on the portal
@hmitsch @dvigneshwer

[2017-03-08 17:01] couci commented on #28
same work around with #29 proposed here

[2017-03-08 17:01] couci commented on #33
same work around with #29

[2017-03-08 17:03] MichaelKohler commented on #28
I'm not sure how that would work. How can we provide a link to the participants to write a blog post? I don't think this is a workaround..

[2017-03-08 17:05] couci commented on #32
There is an ongoing talk on getting github contributions grouped and identify where those contributors are coming from. Leaving this open until the work is implemented.

[2017-03-08 17:17] couci commented on #31
I think for now we should track it as we have been always tracking it and not add more workflow

[2017-03-08 23:57] jgbarah commented on #72
I'm reopening because I had not noticed that we could use a solution that is working with other customers. It consists in offering special panels with "long" tables. In this case, for example, with all (or a large number) of events, so that those could be exported to CSV. Since they are in special panels, even if they are slow the don't harm the "usual" panels. By using sticky filters and date sel

[2017-03-09 06:39] sanacl commented on #81
@hmitsch I'm having a look at the Data Status panel for remo and I see a incoherent message there.
The Last Retrieval date is not today, but the data is updated.

It took me a while to understand the reason so I'll try to explain it to you guys. We have two dates for remo data:
* D1 -> events starting date: represents when a event starts
* D2 -> last retrieval/update data: shows when data was upda

[2017-03-09 08:51] dvigneshwer commented on #29
As @couci mentioned & with reference to the below issue, the idea was to add additional event metrics for rust functional area in the reps site and analyze the event success by generating insights over the rust oriented metrics submitted by reps via the community analytics platform.

Ref: https://github.com/mozilla/activate.mozilla.community/issues/134#issuecomment-281116673

[2017-03-09 09:44] sanacl commented on #68
Data collection still in progress. _571771_ items collected.

[2017-03-09 16:41] sanacl opened #85 "Broken Discourse panel"
I've uploaded the Discourse panel from 0.19.1-18-ge5270fe in the kibana4-maintenance branch.

Using the discourse index generated with dagger I got this:
* Could not locate that index-pattern-field (id: participant_count)
* Could not locate that index-pattern-field (id: created_at)

So I went back and restored the index. The current panel is the latest one found in the panels repo.

Our developmen

[2017-03-09 18:51] couci commented on #28
Yes I am sorry you're correct:
2 suggestions I can see here: either a tag on the blogpost is used or we use selfreporting via the portal
@MichaelKohler thought?

[2017-03-10 05:07] MichaelKohler commented on #28
Tags on blogposts could be done, but this might be too cumbersome for some. I'm not sure where we would get the list of blogs to check. From the Reps planet? What about other blog posts that wouldn't show up on the planet (from non-Reps for example)?

I think self-reporting is quite hard as well, since it's hard to run after blog posts from participants and co-organizers, but that depends on what

[2017-03-10 09:22] sanacl commented on #85
Fixed.

[2017-03-10 09:22] #85 closed

[2017-03-10 11:01] couci commented on #28
I was thinking tag inside reddit since it was mentioned that the blogs live in there

[2017-03-10 13:41] hmitsch commented on #48
Estimated at around 50 hours of work.

Next step: Henrik to check with George if we want to invest our maintenance budget on this.

[2017-03-10 17:17] sanacl commented on #68
Data collection still in progress. _663002_ items collected

[2017-03-10 18:52] sanacl opened #86 ""author_name" field not available on Discourse panel"
A couple of days ago @hmitsch reported he was not able of using the "author_name" field with Discourse data. This is fixed now:

https://analytics.mozilla.community:443/goto/1d53070137d48752e1f182cd4ca59e55

We were using an old version to produce that data. Once it is updated data is available.

@hmitsch I'm closing the ticket, if you think it is not working please re-open.

[2017-03-10 18:52] #86 closed

[2017-03-13 11:05] hmitsch opened #87 "Rust Analytics ideas"
From the Mozilla Reps telegram channel

[2017-03-13 11:10] MichaelKohler commented on #87
See also:
* https://github.com/mozilla/participation-metrics-org/issues/29
* https://github.com/mozilla/participation-metrics-org/issues/28
* https://github.com/mozilla/activate.mozilla.community/issues/134#issuecomment-281116673

[2017-03-13 16:04] sanacl commented on #68
Data collection finished with 826866 elements.

Data enrichment in progress with 751418 documents produced.

[2017-03-13 16:51] brianking commented on #28
The quote from the first comment in this issue is from @brson so adding for possible further insights.

[2017-03-14 15:05] sanacl commented on #68
By tomorrow data should be ready on the dashboard. The enrichment is partially done, the process still needs to add the affiliation data.

[2017-03-14 16:44] sanacl commented on #81
By tomorrow afternoon it will be ready

[2017-03-15 15:15] sanacl commented on #81
Fixed at https://analytics.mozilla.community/app/kibana#/dashboard/Data-Status

[2017-03-15 15:15] #81 closed

[2017-03-17 05:26] sanacl commented on #68
Panel ready https://analytics.mozilla.community/app/kibana#/dashboard/MailingLists

[2017-03-17 05:26] #68 closed

[2017-03-20 10:39] hmitsch commented on #66
<img width="420" alt="image" src="https://cloud.githubusercontent.com/assets/869692/24096394/cd2ceabe-0d61-11e7-9969-3bb4bc7ac0d0.png">

:-(

[2017-03-22 10:38] hmitsch commented on #83
We have two options here:

1. (proper solution) Freeze git index to run the demography analysis and update the panel
2. (fallback solution) Design python queries to extract the information requested in this ticket, directly from the ElasticSearch database

In order to have this ready for Q1 OKR evaluation, the two steps will be done in parallel.

Next check-in with Bitergia (@jgbarah): Monday, 27

[2017-03-22 10:44] hmitsch commented on #77
FYI, updated proposed organization name from "Mozilla" to "Mozilla Staff" to be consistent with https://github.com/mozilla/participation-metrics-identities/blob/master/RepsOrganizationTest1-organizations.yml

[2017-03-22 10:51] #66 closed

[2017-03-22 10:58] hmitsch commented on #72
Let's create one **new panel** (aka Kibana dashboard) with only **one widget** (aka Kibana panel) which allows to download **all** Reps Events into a CVS file.
Please also link it in the top menu.

[2017-03-22 16:18] sanacl commented on #72
Hi @hmitsch and @geroter. About the last events, does this fit your needs? I've moved the "Last Events" table to a new panel and increased the limit to 10K docs.

https://analytics.mozilla.community/edit/app/kibana#/dashboard/Reps-All-Past-Events

[2017-03-22 16:47] geroter commented on #72
yes this is excellent for my purposes

if I gave a list of other "fields" I'd like to export, would it be rather easy to include them in this panel/table?

[2017-03-22 18:25] sanacl commented on #72
@geroter Give us the list and let's see what we can do ;)

[2017-03-23 13:28] sanacl commented on #70
@hmitsch it is ready

* https://analytics.mozilla.community:443/goto/5e96ff3ff4bc6dc19b64a91d2a34f943 for Michael Kohler
* https://analytics.mozilla.community:443/goto/75adbc9b8485453f7954dcc692115d3b for Henrik Mitsch
* https://analytics.mozilla.community:443/goto/e73efa99754dc33210aeb3bb1a672de0 for Daniele Scasciafratte

About the previous affiliation data, we can calculate it automatically (as

[2017-03-26 21:47] hmitsch opened #88 "Bug in Reps Activity Reports (March 2017)"

[2017-03-26 21:52] hmitsch commented on #88
/cc @mte90

[2017-03-26 22:00] hmitsch opened #89 "New Github Repos (March 2017)"
Please add the following repos/organizations to Community Analytics:
* https://github.com/mdn
* https://github.com/mozfr
* https://github.com/mozillaitalia
* https://github.com/mozillach

[2017-03-26 22:01] hmitsch commented on #89
/cc @mte90

[2017-03-27 08:54] Mte90 commented on #89
Looking on Github I find also this (but I am not sure if they are tracked):

* https://github.com/MozillaKerala
* https://github.com/mozilla-mobile
* https://github.com/mozilla-services
* https://github.com/mozillabrasil
* https://github.com/MozillaFoundation
* https://github.com/mozillascience
* https://github.com/MozillaCZ
* https://github.com/mozilla-japan
* https://github.com/mozillahispano
*

[2017-03-29 09:22] hmitsch commented on #77
work in progress

[2017-04-05 17:15] sanacl opened #90 "Git update not working for gecko-projects and gecko-dev"
The Git update process for the repos is not working properly:
* https://github.com/mozilla/gecko-projects.git
* https://github.com/mozilla/gecko-dev.git

After digging on this our developers found the problem. There are commits which their parents and childs were committed after them. This means that for any reason this git repositories do not offer the commits sorted by date.

For instance:

[cod

[2017-04-05 17:16] sanacl commented on #90
@hmitsch do you happen to know who could shed light on this from Mozilla staff?

[2017-04-05 17:35] sanacl commented on #77
SH data 90% ready to be refreshed. The VM is not accessible right now. As soon as it ready again, we can start the refresh of the indexes.

[2017-04-06 06:16] sanacl commented on #77
Git data is ready https://analytics.mozilla.community/app/kibana#/dashboard/Git

We have 30 commits assigned to Mozilla Corporation (less than 0.1%) but still don't understand why this happened ..

[2017-04-06 06:28] sanacl commented on #89
@Mte90 @hmitsch do you want them grouped inside any project available at https://analytics.mozilla.community/app/kibana#/dashboard/Git ?

[2017-04-06 08:24] hmitsch opened #91 "Identities not grouped properly"

[2017-04-06 08:39] sanacl commented on #91
The user used different email addresses and we group them by email and name. What we could do is bit more aggressive and match also using the username. This could lead to false positives, but it could fix our problems now.

[code]

What do you think @hmitsch? I would say it is likely we are not going to have a lot of false positives, but you guys are using a lot of data sources, so I can not know

[2017-04-06 08:43] hmitsch opened #92 "Inconsistent filter names across dashboards"

[2017-04-06 08:53] hmitsch commented on #91
Ok, I think I understand. Let's review the artifacts ..

@Mte90 has the following entries in his Mozillians.org profile:
<img width="216" alt="image" src="https://cloud.githubusercontent.com/assets/869692/24745674/c68a4370-1ab6-11e7-8827-66353baab46c.png">
<img width="322" alt="image" src="https://cloud.githubusercontent.com/assets/869692/24745689/d525ec72-1ab6-11e7-9651-d20c38cc6600.png">

By hav

[2017-04-06 09:02] hmitsch commented on #90
@mhoye can you help us with this?

[2017-04-06 09:10] hmitsch commented on #77
It's about 31 commits out of 3,494,887. Please don't worry about this anomaly. Let's close this issue. **Very well done!**

[2017-04-06 09:10] #77 closed

[2017-04-06 09:13] sanacl commented on #92
The bug has been reported due it is also found in our latest version.

[2017-04-06 09:22] sanacl commented on #89
Added, data available at https://analytics.mozilla.community/app/kibana#/dashboard/Git

* https://github.com/mdn
* https://github.com/mozfr
* https://github.com/mozillaitalia
* https://github.com/mozillach

[2017-04-06 13:14] sanacl commented on #91
The unifiy finished. Mte90 whas correctly unified.

[code]

[2017-04-06 15:35] mhoye commented on #90
You'll need to show me the code you're using to do this filtering, but you've got a couple of options here. "Dates" in git are (tragically) not a reliable indication of much of anything except "this is what time a developer's computer thought it was when something happened". The time delta isn't (usually) awful, so you can probably get  If you have the option, try crawling back an extra few months

[2017-04-06 16:28] mhoye commented on #90
Greg Szorc says: "You need to use --topo-order for reasonable behavior. I find this bug in almost every tool walking Git commits."

[2017-04-06 16:52] sduenas commented on #90
@mhoye so far, we have been using `since` parameter on `git log` command because most of the times it works good enough . But as you say, this causes some headaches with migrations and other behaviours like PRs. We are changing the code to get the differences between a local copy of the repository and the remote one during the fetching phase. This should be more than enough to get this kind of com

[2017-04-07 07:04] sanacl commented on #91
Some identities like 000ef07a6ab623404a53fd42d4de7cf782dd53fb grouped 2 hundred accounts under the umbrella of "Mauricio Navarro Miranda". So the activity of other accounts is misrepresented. I see git accounts with names like:
* Michal Stanke
* Artem Polivanchuk
* Inma Barrios
* Theo Chevalier

This is happening due to some common user name that lead the heuristic to mark them as the same person.

[2017-04-07 09:55] sanacl commented on #91
After having a deep look at the data with my colleagues I confirm we can not use the "usernames" to unify accounts. We are having a lot of wrong unifications. We are broking the most active ones to improve the data quality. Again this is manual work. After this is done we'll refresh the index (4 hours more)

[2017-04-07 15:15] hmitsch opened #93 "Wrong Identities"
**Dashboard URL:** https://analytics.mozilla.community:443/goto/615f02527b6ad409a486e8cda0efece6

## Artifacts
This lists ```project:"aframevr"``` contributors from the ```Community``` organization.

<img width="685" alt="image" src="https://cloud.githubusercontent.com/assets/869692/24806599/a447e2a4-1bb5-11e7-8c18-a390f4901a2e.png">

## Issues
* Fernando Serrano is a Mozilla employee
* Diego Gobe

[2017-04-07 15:18] hmitsch opened #94 "Identity "Unknown" seems to be wrong"
**Dashboard URL:** https://analytics.mozilla.community:443/goto/74ef856984176e1edd3ddd7e026e13d8

# Artifacts
<img width="691" alt="image" src="https://cloud.githubusercontent.com/assets/869692/24806789/455f5bb8-1bb6-11e7-9ed1-7668e1494fea.png">

# Issues
Most of the people in the list should belong to the ```Mozilla Staff``` organization.

[2017-04-07 15:18] MichaelKohler commented on #93
and "a-frobot" might be a bot that needs to be marked?

[2017-04-07 15:21] hmitsch opened #95 "MAR 2007: Sudden drop in commits and authors"

[2017-04-07 15:30] sanacl commented on #94
Index is still being refreshed. It will be fixed when it is finished.

[2017-04-07 15:41] sanacl commented on #93
* Fernando is using a private account. I have no data about him in the data we imported from Mozillians. BTW, we haven't updated that info in weeks. Is he a new employee?. I've just enrolled it manually
* Same with Diego. I've assigned manually.
* a-frobot was marked as bot

Data won't be updated until next refresh.

[2017-04-07 17:17] sanacl commented on #94
Fixed.

[2017-04-07 17:39] jgbarah commented on #95
It seems that cliff is due to a switch in how developers express their identity in the repository. Compare the top authors in a period before the cliff, such as:

https://analytics.mozilla.community:443/goto/ef32a78259757a11e3e49bea4d1b8852

Where you can top identities such as `bzbarsky%mit.edu` which suggest email addresses using `%` instead of `@`, with

https://analytics.mozilla.community:443/

[2017-04-07 18:47] hmitsch opened #96 "Git Panel: "Number of Authors" and "Names of Authors table" mismatch"
**Dashboard URL:** https://analytics.mozilla.community:443/goto/28df4a5431ee6e9a9c57a2a2e8e506b6

# Artifacts
<img width="710" alt="image" src="https://cloud.githubusercontent.com/assets/869692/24814913/b454c144-1bd3-11e7-9a8b-175c0fe216bd.png">

* Git Metric: **64 Authors**
* Authors table: **20 Authors**

# Issue
The amount of Authors differ. Strange, right?

[2017-04-07 19:08] hmitsch commented on #94
Yay!! Thank you.

[2017-04-07 19:08] #94 closed

[2017-04-07 19:15] hmitsch commented on #93
@sanacl thank you for the quick response.

Great that you marked ```a-frobot``` as a **bot**.

Please do not manually tag people like Fernando and Diego as employees. We need to find a proper way to do this.
* Fernando is vouched as employee on Mozillians.org. Why does this not seem to be populating into Community Analytics?
* Diego does not have a Mozillians.org account. This is something I would

[2017-04-07 21:24] jgbarah commented on #96
That's because, for performance reasons, the table is limited to show the top 20 authors. I've modified it to 200, so that you can see how now there are much more authors. We don't have tables with long lists because that means more traffic from/to the ElasticSearch server, and more time for the panel to load.

In any case, you will notice that the number of rows in the table now is 62 (with 64 be

[2017-04-08 17:13] jgbarah commented on #92
This is not exactly a bug. Each data source has its own kind of repo (repo_name). In some cases (GitHub is an example), repo names can be used across data sources (in GitHub, that amounts to git, issues and pull requests). But using that is not reliable: for example, a give subproject may host the code in a git repo in GitHub, bug report issues and perform code review in Bugzilla.

The "good way"

[2017-04-09 19:32] Mte90 commented on #91
You are right during the time I changed the email to better ones (short names) and for a better alias (and I forgotten this situation).
Maybe the better way is to add all the various option on mozillians and hide them from the profile to be showed only from owner of the profile.

[2017-04-09 19:50] Mte90 commented on #89
I think that we can create a group like Mozilla National Communities Organization and Mozilla Project Communities Organization to organize better them

[2017-04-11 07:26] sanacl commented on #70
@hmitsch data for NNTP ready https://analytics.mozilla.community/app/kibana#/dashboard/MailingLists

The unknown bucket is there with less than 1% for the last month. As soon as we upgrade to the new version (upgrading is taking place right now) we'll get rid of it.

[2017-04-25 07:34] sanacl commented on #72
Guys, I have this assigned by I don't know what it is needed to be done so I'm closing it. If you miss something that should be done please 1) reopen it and 2) specify what is missing

[2017-04-25 07:34] #72 closed

[2017-06-01 10:38] hmitsch commented on #14
Timeout. Abandoning issue.

[2017-06-01 10:38] #14 closed

[2017-06-01 10:39] hmitsch commented on #12
Done a couple of weeks ago.

[2017-06-01 10:39] #12 closed

[2017-06-01 10:39] hmitsch commented on #51
Abandoned.

[2017-06-01 10:39] #51 closed

[2017-06-01 10:43] hmitsch commented on #96
Abandoned.

[2017-06-01 10:43] #96 closed

[2017-06-01 10:45] hmitsch commented on #95
Data still looks the same:

<img width="655" alt="image" src="https://cloud.githubusercontent.com/assets/869692/26676450/27743906-46c8-11e7-81ef-d5c86568b31a.png">

[2017-06-01 10:46] hmitsch commented on #93
Fixed.

[2017-06-01 10:46] #93 closed

[2017-06-01 10:51] hmitsch commented on #92
Any update on this?

[2017-06-01 10:53] hmitsch commented on #83
Done.

[2017-06-01 10:53] #83 closed

[2017-06-01 10:54] hmitsch commented on #70
Done.

[2017-06-01 10:54] #70 closed

[2017-06-01 11:00] hmitsch commented on #67
Closing. Not sure why it was reopened.

[2017-06-01 11:00] #67 closed

[2017-06-01 11:06] hmitsch commented on #71
Done.

[2017-06-01 11:06] #71 closed

[2017-06-01 11:07] hmitsch commented on #22
Done.

[2017-06-01 11:07] #22 closed

[2017-06-01 11:09] nukeador opened #97 "Review the cross reference proposal and flag any issues with the procedure"
Review the cross reference proposal and flag any issues with [the procedure](https://docs.google.com/document/d/1fiWxvM8TfrFs-sVpvbQvtAhNmrSdO24h09Jvk5P5LpE/edit#)

[2017-06-01 11:12] nukeador opened #98 "Update Reps organization with data provided"
Update Reps organization with [data provided](https://github.com/mozilla/participation-metrics-identities/blob/master/Community%20Analytics%20-%20Reps%20Organization%20-%20Test%201.csv)

[2017-06-01 11:13] nukeador opened #99 "Implement the project grouping on the dashboard (including Discourse)"
Implement the [project grouping](https://docs.google.com/spreadsheets/d/1xFrt9JZkZ6m8peasYaRfPO5kC1JDo-vDJJuYfMwcGqM/edit#gid=994958943) on the dashboard (including Discourse)

[2017-06-01 11:14] nukeador opened #100 "Come back with an estimation on how long it would take to improve the tools so we can filter Firefox-only code from gecko-dev repo"
Come back with an estimation on how long it would take to improve the tools so we can filter Firefox-only code from gecko-dev repo

[2017-06-01 11:14] nukeador opened #101 "Wording change/agreement throughout: Global tables to show "employees" and "non-employees""
Wording change/agreement throughout: Global tables to show "employees" and "non-employees"

[2017-06-01 11:14] nukeador opened #102 "Implement employees identification based on provided list with dates"

[2017-06-01 11:14] nukeador opened #103 "Gather a list of survey groups and fields we are interested in cross-reference"
Gather a list of survey groups and fields we are interested in cross-reference

[2017-06-01 11:19] nukeador commented on #102
To be asigned to @alpgarcia

[2017-06-01 11:19] nukeador commented on #101
To be asigned to @alpgarcia

[2017-06-01 11:21] nukeador commented on #98
@couci Can you ping us as soon as you update the file with the latest changes?

[2017-06-01 11:22] couci commented on #98
yes this will happen tomorrow morning, june 2nd CET

[2017-06-01 11:39] nukeador opened #104 "First draft of the cross-referencing analysis"
Expectations:

* Data from the survey is incorporated (#97)
* Updated data from gecko-dev to exclude Firefox-only code (#110 #100)
* Improved data for employee count (#102)
* Improved data for Mozilla Reps (#98)
* All comments from the May 29th version applied.
    * Show all data per project
    * Show all data for non-employees
    * Minor changes to charts, updates...

[2017-06-01 11:41] nukeador opened #105 "First iteration of the final report including cross reference data and Github external analysis delivered"
### Pending improvements

* General
  - [X] Update the six projects charts, and add some for non-employees
  - [X] Update the text about the ratio between no-employees and employees
  - [X] Check Servo - Gecko relation to understand the difference between the first contributors in a project and the first contributors in Gecko, being Gecko the first where they commit.
  - [X] Integrate George comme

[2017-06-01 11:43] nukeador opened #106 "Final report(s) and outputs delivered"

[2017-06-01 11:49] nukeador commented on #98
@sanacl Let's wait for @couci OK before implemeting it on the dashboard.

[2017-06-01 12:24] nukeador commented on #102
please, make sure this list is only used offline and it's NOT uploaded anywhere else or to the dashboard.

[2017-06-02 11:26] nukeador commented on #98
Note: Only include non-employees in the Reps organization.

[2017-06-02 11:38] nukeador commented on #103
This should include fields from data analysis we consider most relevant.

[2017-06-02 11:42] nukeador commented on #104
Depends on #103

[2017-06-02 11:43] nukeador opened #107 "Provide every identity from survey results"
So Bitergia can check where do we have data about these identities.

[2017-06-02 11:47] nukeador opened #108 "Render engine analysis - Final version"
Specs: https://docs.google.com/document/d/1XzVmQhgxASX_Oy3bqjKqpbawYfWbiaoXN0GdugEBPYs/edit?ts=5919c8ac#heading=h.6st798tckw2c

[2017-06-02 11:50] nukeador commented on #108
We'll evaluate progress on June 12th

[2017-06-02 12:16] nukeador opened #109 "Github external org tool is ready and data gathered"
Specs: https://docs.google.com/document/d/1xLEmiU21wotdBcB7An6dyf40dluUn9BvvbTduzWSFpA/edit#

[2017-06-02 12:34] nukeador commented on #109
Bitergia will come back next week with time estimations

[2017-06-05 10:56] alpgarcia commented on #107
@nukeador can I expect to have response ids correctly associated to the tuple [github handle, email, bugzilla email] in the fake data?

[2017-06-05 13:18] nukeador commented on #107
Yes, that tuple was not randomized. I'll be providing a more complete full list later today.

[2017-06-05 13:24] sanacl commented on #98
@nukeador @hmitsch I see Mozilla employees in the Reps CSV. 34 people with @mozilla.com and at least for some of them the time range overlaps with the period working for Mozilla.

Is that ok?

[2017-06-05 13:27] sanacl commented on #102
I have a question. What if we have people marked as Mozilla Staff that are not included in that list? Should we consider that in order to be a Mozilla Staff members people have to be included in this list?

[2017-06-05 14:28] alpgarcia commented on #104
Are people answering the survey non-employees only?

[2017-06-05 15:01] dicortazar commented on #108
@nukeador according to that document, we have to ignore some directories as far as I remember. However, I do not find any of the directories specified in the document.
So, actions:
* You need to give me a list of paths (first/second level) to ignore from the analysis. The information I have so far is not enough to start with the retrieval process.
* And I need to know the same information for the

[2017-06-05 15:04] nukeador commented on #98
We agreed to count them as staff.

[2017-06-05 15:04] nukeador commented on #98
@couci did you update the list with the latest changes to the Reps population?

[2017-06-05 15:20] nukeador commented on #107
@alpgarcia we have 589 identities for the cross-reference. Check the shared document to check how much information we have about these.

[2017-06-05 15:20] #107 closed

[2017-06-05 15:23] nukeador opened #110 "Filter out servo commits from gecko-dev"
gecko-dev imported all source code history from Servo. Are we filtering this out?

I think all these commits start with "servo: Merge #" but I'm asking to get more details.

[2017-06-05 15:25] nukeador commented on #110
@alpgarcia @jgbarah Adding this new card here as this was flagged to me today.

[2017-06-05 15:55] nukeador commented on #103
Here you have the list, let me know if it's useful

## Activity

* **Column I:** Have you contributed to a Mozilla or related project within the past year? 

Options we'll track (yes, active. no, inactive)
* Yes, I have contributed within the past year.
* No, I have not contributed within the past year, but I have contributed to a Mozilla or related project in the past.

## Contribution areas (pro

[2017-06-05 16:59] nukeador commented on #102
Can we do a quick check to see what are the differences?

[2017-06-05 17:02] nukeador commented on #108
I've added a few comments on the doc to signal these folders.

[2017-06-05 17:16] alpgarcia commented on #107
It would be possible to have response id column in this document?

I don't need it to find them, however it would be very useful when merging survey data on your side.

[2017-06-05 20:52] nukeador commented on #107
What do you mean by "reponse id column" if that's the column from the survey results, obviously that would identify people with responses and we can't provide that.

[2017-06-05 21:32] #103 closed

[2017-06-06 07:50] alpgarcia commented on #107
I understood response id was not randomized in the fake data. In fact, I won't have access to responses so response ids are as valid as emails to identify people.

Would you have 5 mins to quickly talk about this today?

Thanks!

[2017-06-06 10:01] nukeador commented on #107
Reponse id was not, but the rest of identificable columns were, so reponse ids and answers can't be linked to a person.

If I understand correctly you want all response ids, which I can provide, but not linked to an email or any other identificable answer, because that would allow to match reponses from the fake data with the person.

[2017-06-06 10:18] alpgarcia commented on #107
Ok, understood. I thought response ID was also kept in the tuple and not associated with responses.

[2017-06-06 15:39] nukeador commented on #104
Yes, only non-employees

[2017-06-06 16:33] alpgarcia commented on #104
From the May 29th version of the report we expect to fix:
- As much as possible, show data per project
- As much as possible, show data for non-employees
- Include Code Sheriff, Reps, Mozilla Stuff, Community.
- Minor changes to charts, updates, etc

[2017-06-06 17:55] alpgarcia commented on #104
Then there is something weird somewhere. I found a user with a lot of activity in Git and Mailing lists. I looked for the corresponding UUID in our indexes and I found he is marked as Mozilla Staff. His GitHub username is 'gerv'.

I looked for another one with high activity and I found 'djmitche', that is a similar case, also Mozilla Staff.

This is very important because it seems we can't assume

[2017-06-06 18:04] jgbarah commented on #100
Can we assume everything in the `gecko-dev` repo is project Gecko, except for directory `browser`, which is project Firefox? In particular, I was reading this comment, by Myk Melez, which suggests that maybe for project Firefox we should have some more directories into account:

[2017-06-06 18:16] nukeador commented on #100
For the toolkit/ and chrome/ forlders we don't a good way to know which is Firefox-only and which is Gecko-only so we are assuming it's part of Gecko contributions.

@mykmelez we didn't get any other tips to separate the code there right?

[2017-06-06 18:19] nukeador commented on #104
So yes, I see now some known employees replied the survey and didn't identified themselves as such. We should filter them out using our lists.

[2017-06-06 18:26] mykmelez commented on #100
In the absence of more precise distinctions between the various directories in toolkit/, I would actually count toolkit/ as Firefox, because its [module's peers](https://wiki.mozilla.org/Modules/All#Toolkit) are identical to the [Firefox module's peers](https://wiki.mozilla.org/Modules/All#Firefox), and its code is more "frontendy" than "backendy".

However, I still think @Mossop is the better per

[2017-06-06 18:40] jgbarah commented on #100
Both heuristics are tricky in the timeframe we hace, so I will stick to using directories. We can revisit this later if you're interested.

So far, I understand then that `browser`, `toolkit` and `chrome` directories are project Firefox, the rest is Gecko.

Any hint on what to do with commits touching files in both parts? (Firefox and Gecko). For now, I'm planning to split in like two commits, one

[2017-06-06 22:38] jgbarah commented on #109
I think you got the estimations via email. Meanwhile, some comments:

* For now, we're focused on git repos in GitHub, since that seems to be more complete than issues / pull requests.

* We're limited by the GitHub API, to about 30K commits/hour. Likely this could be enough to get at least the activity of most active non-employees.

* There is an interesting problem: forks. How should we consider

[2017-06-07 07:21] jgbarah commented on #100
Finally, decided on:

* Filter by directoriy. if directory is `browser`, `toolkit` or `chrome`, consider project Firefox. If any other, consider Gecko.
* I a commit touches files both in Firefox and Gecko, consider the commit for the project with more files touched (simple, but seems to work reasonably well, from manual inspection).

Results:

* For the last two years: Firefox ~13,6K commits, Geck

[2017-06-07 08:30] alpgarcia commented on #103
Thanks! We will start trying to use those fields with a restricted number of possible answers.

[2017-06-07 08:32] alpgarcia commented on #104
Ok, I'll add a filter to retrieve only those associated to Mozilla Staff and Code Sheriffs from our indexes.

Is that correct?

[2017-06-07 09:29] nukeador commented on #98
@sanacl [The file](https://github.com/mozilla/participation-metrics-identities/blob/master/Community%20Analytics%20-%20Reps%20Organization%20-%20Test%201.csv) has been now updated. Note that we have divided the reps into "Mozilla Reps" and "Functional Reps" in order to track the two different profiles of people we have in the program, also we have update the end date of a lot of them.

[2017-06-07 09:41] alpgarcia commented on #101
Community metrics updated applying this: https://github.com/Bitergia/mozilla-contribution-analysis/blob/master/data-analysis/rc1/html/Community.html

[2017-06-07 09:42] alpgarcia commented on #100
I just updated Community notebook to use new data:
Community metrics updated applying this: https://github.com/Bitergia/mozilla-contribution-analysis/blob/master/data-analysis/rc1/html/Community.html

[2017-06-07 09:47] alpgarcia commented on #104
Data per project refreshed for community metrics (i.e. number of authors). This also affects to: #100 and #101.

Still needs to be included in the report, though data is already available at:
https://github.com/Bitergia/mozilla-contribution-analysis/blob/master/data-analysis/rc1/html/Community.html

[2017-06-07 10:17] nukeador commented on #109
The problem about overestimating I guess is due the forks right? Then, yes, we should probably ignore forks (I don't know if you have a way to detect same commit under different repos)

[2017-06-07 10:23] nukeador commented on #104
Yes, filter these out.

[2017-06-07 10:24] nukeador commented on #100
I'll check about the numbers, let's assume for now these are correct.

[2017-06-07 11:18] jgbarah commented on #104
From the title of this issue:

This is for the cross-referencing analysis (I understand that cross-referencing with the survery data) or for all the report?

[2017-06-07 11:21] jgbarah commented on #98
OK. We're using this file as we see it now.

[2017-06-07 11:24] nukeador commented on #104
This is for incorporating the survey data with the existing report, as well as any other pending improvements (listed in the description).

At the end of this week we will get feedback from the report that will be able to incorporate in the next iteration (#105) on June 15th together with the data from the github project.

[2017-06-07 11:27] jgbarah commented on #102
We need to move this forward. We have decided to use the following algorithm, according to past talks:

* If the person is only in Staff, use dates as staff for considering "Staff", and "Community" for the rest of their activity (if any).
* If the person is only in Reps, use the dates as rep for considering "Rep", and "Community" for the rest of their activity (if any).
* If the person is both in

[2017-06-07 11:30] jgbarah commented on #110
I'm not sure we can do this on time. Or to be more clear: I'm almost certain that we won't be on time with this. The filtering is not one of the usual ones we do, and would require risky changes in the tooling (risky from the point of view of ensure results are correct).

[2017-06-07 11:33] jgbarah commented on #99
Project grouping, except for Reps, is complete in mozilla-test. I guess you haave credentials to check those in the corresponding Kibana (or @alpgarcia is sending them to you shortly). Number could be checked in that Kibana (and some drill down as well).

For now, not updating the dashboard with this data, but will try to do after other stuff is done.

[2017-06-07 11:35] jgbarah commented on #109
No, this is a fundamental problem. We don't have an easy way of ignoring forks not produced through the GH interface (manual forks), and if we had, I don't know of a way for telling apart which one is the "original" and which one is the "copy.

[2017-06-07 12:19] nukeador commented on #102
This is great, thanks for the update Jesus.

Please note that with the recent changes we have splitted reps into "Mozilla Reps" and "Funcional Reps".

Cheers.

[2017-06-07 12:22] nukeador commented on #109
I see, what would be your suggestion to have the minimum deviation and data result to be useful?

[2017-06-07 13:44] hmitsch commented on #98
The file with the updated Mozilla Reps identities change from https://github.com/mozilla/participation-metrics-identities/blob/master/Community%20Analytics%20-%20Reps%20Organization%20-%20Test%201.csv to https://github.com/mozilla/participation-metrics-identities/blob/master/Reps-2017-06-06.csv

@sanacl please make sure to use that new CSV file.

[2017-06-07 13:57] sanacl commented on #102
83 out of 2857 entries in the Mozilla Staff file have a starting date > end date. I'm discarding these 83 contributors unless you guys update me about what to do with their dates.

Idea: date fields could be swapped for these 83 guys

[2017-06-07 14:04] alpgarcia commented on #97
Procedure looks good to me. Let's close this task and track progress from #104

[2017-06-07 14:17] nukeador commented on #102
Yes, thanks Luis. I'm asking HR about these and if it's safe to assume it's a typo and we can switch dates.

[2017-06-07 14:57] alpgarcia opened #111 "Survey Metrics Definition"
Survey analysis will be focused on the combination of the two following lists:

List of fields to analyze from Survey:
* age
* country
* gender
* disability
* education level
* language
* english proficiency

List of fields to compare with:
* commits
* pull requests
* issues
* bugs
* emails
* messages
* number of git projects
* number of github projects
* number of bugzilla projects
* number of mb

[2017-06-07 15:50] #97 closed

[2017-06-07 15:50] #101 closed

[2017-06-07 16:46] jgbarah commented on #109
We're working on that. Maybe the forks of the "main" repository are not relevant (and can be easily discarded). And likely the issues / pull requests results are more conclusive (assuming people use GH for that, which is not always the case). I just wanted to stress that the data is maybe not going to be as useful as it appeared at first glance.

[2017-06-07 16:54] jgbarah commented on #109
Some more feedback, after we got some preliminary results for a first run. We get a listing of commits and organizations, but at least in some cases, it has some problems from the point of view of learning where people works. The issue is that people fork git repos manually, and that means that developers appear as active in those repos. But they really didn't work in them: they were forked by som

[2017-06-07 16:59] jgbarah commented on #98
Thx, @hmitsch. This new file has both "Mozilla Reps" and "Funcional Reps". The scripts @lcanas was working with only considered "Mozilla Reps". Not sure we can consider the new tag, since that would mean changing the script that was already being validated.

Not sure what to do with the new tag, anyway: should we just consider it as "Mozilla Rep", with the above considerations about overlapping pe

[2017-06-07 17:01] jgbarah commented on #102
@nukeador please see comments about "Functional Reps" in #98.

[2017-06-07 17:07] jgbarah commented on #106
Not sure if this is the right place to discuss this. However, since I didn't figure out a better place... Let's go.

I'm not sure what we expect from the labels with dates. Some tickets were labeled for June 5 today (June 7). June 5 (Monday) was the first working day after Friday, when we were discussing all of this schedule...

To be honest, not too worried about this, but just to highlight the s

[2017-06-07 18:30] dicortazar commented on #108
Some update here. I've been playing with the git log, but I'd like to check a bit more the info I can retrieve. This basically depends on the needs of having moved and copied files and count those actions as commits and so on.

So far I'm removing the commits that only include copied and moved files and excluding or including specific paths according to the requirements.

In any case, I'm using th

[2017-06-07 22:20] nukeador commented on #106
Yeah, sorry, June 5 was the original delivery date for all the pending stuff we already agreed before our meeting on Friday (you can see that on my emails and the [previous github issue](https://github.com/mozilla/community-development/issues/584)).

We know they are coming this week, but we want to signal that we expected them on June 5 and we need to tackle them first :-)

For the rest of the ta

[2017-06-07 22:22] nukeador commented on #98
"mozilla reps" and "functional reps" should have the same behavior about staff previously described.

[2017-06-07 22:23] nukeador commented on #109
But even if they fork repos manually, commits are not under their names unless they commit something there I assume.

[2017-06-07 22:31] nukeador commented on #102
@sanacl this is the reply from HR

"Yes, so in the cases where there are term dates that are displayed, but the hire date is later than the term date, means that the employee has been rehired back into Mozilla, or converted from contractor into employee.  The termination date stays, but it was a part of the former hire date.  Hope that helps."

**This means:** Employees with start date later than

[2017-06-08 07:00] dicortazar commented on #108
Update in the final commits.
* Gecko: ~500K commits out of 550K commits to be analyzed (ignoring the browser dir)
* Webkit: ~190K commits
* Blink: 215K commits out of 600K commits to be analyzed (focused on third_party/WebKit dir)

In all of the cases we're ignoring copies and movements of files when those are the only action in the commit. This is quite time consuming when calculating the numbers

[2017-06-08 09:16] alpgarcia commented on #104
I've created #111 to track survey data analysis progress.

[2017-06-08 09:37] alpgarcia commented on #111
Two notebooks have been created:
- [Survey Check](https://github.com/Bitergia/mozilla-contribution-analysis/blob/master/data-analysis/rc1/Survey%20Data%20Check%20.ipynb)
- [Survey Analysis](https://github.com/Bitergia/mozilla-contribution-analysis/blob/master/data-analysis/rc1/Survey%20Analysis.ipynb)

First one should be executed by @nukeador. Please check if output makes sense for Mozilla. Resul

[2017-06-08 10:08] dicortazar commented on #108
@nukeador I have a couple of questions for Gecko:
* I've seen B2G Bumper that seems to be a potential bot. Is this bot actually a bot committing automated things or merging branches? Or this is a bot committing pieces of source code on behalf of some other developers?
  * If this is a bot committing changes on behalf of others, where can I retrieve such info?
* In addition to the previous bot, Car

[2017-06-08 10:46] nukeador commented on #111
@alpgarcia where should I place the real uuids and survey result files? Replace the sample ones under /data with the same name?

[2017-06-08 11:01] alpgarcia commented on #111
@nukeador at the beginning of the notebooks you should see the following code:
[code]
You can put your files there in data folder, and then just modify the notebooks accordingly. For the uuids you can name it as `uuids.csv` and you won't need to modify anything. For the survey, you could do the same, but maybe naming the file `survey-fake.csv` could be a little misleading for you :)

[2017-06-08 11:40] nukeador commented on #111
Survey Analysis html report sent back to @alpgarcia

[2017-06-08 13:57] hmitsch commented on #21
Update remaining bag of hours according to latest mail from @jgbarah: it is 85.

[2017-06-08 15:48] nukeador commented on #108
Are you using the bot filtering from our existing data? B2G Bumper should be filtered out as a bot, see https://github.com/mozilla/participation-metrics-org/issues/67

Tomcat is a Code Sheriff, that's why the code volume, but that should filter him out as employee, isn't it?

[2017-06-08 16:30] jgbarah commented on #109
Nope. The fork includes all commits, with the corresponding commit record, which includes the name of the author. Therefore, the person appears as a committer in the fork.

[2017-06-08 16:34] dicortazar commented on #108
Well, the question was not really if this is a bot, that seems to be a bot, but if that bot is actually committing some pieces of code that are worth measuring. And if so, if this is done in an automated way  or on behalf of someone.
If you check how webkit does this, there is a bot committing a big part of the code. And we have to go for the messages in the log to check the actual author.
So the

[2017-06-08 18:15] jgbarah commented on #111
We've been considering how better to do this. The main problem is with the structure of the spreadsheet, which has tons of columns, with little structure. For example, some questions have several columns with mutiple-option answers, while other not. We´ ŕe figuring out how to produce data structures and visualizations that help to find interesting information, but time is short.

We were thinking

[2017-06-08 18:42] alpgarcia commented on #111
@nukeador is there any possiblity to have motivations grouped in the same column (or 3 columns, one per answer)?

To try to focus efforts an clarify what we are working on, I'll write a list. For each of the top 6 projects:
* **Coverage**: people answering the survey and contributing to the given project versus people active in the project. This is related to significance of results.
* **Demograph

[2017-06-08 19:48] nukeador commented on #108
Checking the bot activity, does it suggest it's commiting code on behalf of other people?

My understanding is that it shouldn't.

[2017-06-08 19:53] nukeador commented on #111
I don't know the answer, the exported spreadsheet is the only thing I got and I assume it's the only way surveygizmo exports the data. Is there something we can do to the data to be easier for you to parse?

[2017-06-08 21:16] alpgarcia commented on #111
If, at least for motivations, you could group results to have only one column for each question, it would help a lot. For instance, having just one column named 'Motivation leaving' with values separated by semicolons or any other char not used in possible answers.

Does it makes sense to you?

[2017-06-09 00:25] nukeador commented on #111
It makes sense, but I would need something to make that change automatically. Can you provide us intructions/tool/code?

[2017-06-09 08:20] alpgarcia commented on #111
Nope :(,  if I had a way to do it automatically it would be already done :)

[2017-06-09 10:09] nukeador commented on #111
Then I guess we'll have to stick with the current format.

[2017-06-09 11:08] alpgarcia commented on #102
We have found a bug in the update process that requires a complete re-run of the affiliation script. We expect to have data ready for git by tomorrow.

In the meanwhile we are going to prepare some panels in our reports' environment, similar to the ones you have in your production environment. The idea is to allow you to check affiliations once data is ready in the indexes. Once we get the panels

[2017-06-09 11:53] jgbarah commented on #111
@nukeador said:

Something that we don't understand is that it seems that you already have data in the survey about the Mozilla project(s) in which they have contributed. If that's the case, you can already do a complete analysis per project just by using the data from the survey, which would be far more accurate than anything we may do (since we don't have a complete coverage of identified develo

[2017-06-09 11:55] jgbarah commented on #111
@nukeador said:

OK. But in that case, we're going to need significant effort (given the deadlines we have) just to extract that info from the spreadsheet in an useful format.

[2017-06-09 12:00] jgbarah commented on #111
@nukeador said:

For this, we have found two columns, RH & RI, with current and past contributions to projects. The problem with them is that they seem to be text-free, usually separated by commas (but not always, for example "Alaveteli and varisous civic having projects"). We are going to try to use some heuristics for extracting relevant information (names of projects), but again that's going to

[2017-06-09 12:54] alpgarcia commented on #111
@nukeador said:

Here we will provide a comparison between activity of each different group extracted from survey. Groups come from survey answers and were specified above in task description. I gave some examples of what you can expect in [my previous comment](https://github.com/mozilla/participation-metrics-org/issues/111#issuecomment-307191827).

@nukeador said:

Reading data is not trivial. Wh

[2017-06-09 13:23] nukeador commented on #111
@jgbarah We have to differenciate the contribution area people self-reported vs the actual data we have on what these people have been contributing to. This is related with what's I comment on visualizing what we have from the people replying the survey on our data sources.

Obviously the value is to enrich our exiting data with the survey data to improve the insights, even if we can't say it's a

[2017-06-09 16:28] alpgarcia commented on #111
@nukeador could you please update your copy of the repo, execute 'Survey Anlaysis' notebook and send us back results in HTML format?

There are more things to come but we would like to have a glance to some coverage results and some plots we find interesting related to newcomers and diversity.

[2017-06-09 17:07] nukeador commented on #111
Updated report sent.

[2017-06-09 18:57] alpgarcia commented on #102
As promised, I uploaded some panels to Kibana in `mozilla-test` environment. Once data is ready, please use them for data validation. To load panels:
* Go to https://mozilla-test.biterg.io/edit  (use same credentials provided to run notebooks)
* In the left hand side menu, chose `Dashboard`
* Click on `Open` in the top right corner menu. A list of available panels will appear.
* Chose the panel yo

[2017-06-10 18:41] dicortazar commented on #108
Some analysis done:
* Webkit:
  * There’s a need to parse the information at the message log. This seems to be quite accurate after checking some numbers random to use the keyword ‘Patch by’. This forces to create a new parser for message log.
  * The usual automatic bot that works on this is commit-queue. So when the author is the commit-queue, then we look for the real author at the message log.

[2017-06-12 06:23] jgbarah commented on #111
I guess I understand what you mean. And in particular, the difference between what people self-repoprt and what is found in the repositories is important. But I just wanted to highlight that, assuming people self-report correctly on where they contribute, the data about motivation, etc. can be obtained and analyzed just with the data in the survey. This said, we're already producing the informatio

[2017-06-12 10:06] dicortazar commented on #108
There are two preliminary panels to work with during the meeting:
* Comparison of the evolution of the top 15 domains: https://mozilla-test.biterg.io/edit/goto/9a0deeb1407745cc315f8396901c5957
* Comparison of the evolution of the activity, authors and trends for each of the three projects: https://mozilla-test.biterg.io/edit/app/timelion#/Gecko-Webkit-Blink-Evolution-Comparison (TimeLion->Open ->

[2017-06-12 10:20] sanacl commented on #102
Affiliation data is already applied to Git and Bugzilla indexes.
Some restrictions:
* the 83 guys (2% of the Mozilla Staff people) with a start_date > end_date were not modified, so they are in the "Mozilla Staff" bucket with the maximum period (from 1900 to 2100)
* only two intervals of affiliation are supported. If Alice was Rep, then Staff and became Rep again. We'll only see Rep and Staff. The

[2017-06-12 10:21] nukeador commented on #98
Let's confirm if this is done and close the issue if so please.

[2017-06-12 10:23] nukeador commented on #108
Thanks for the update, let's review it later during the meeting.

[2017-06-12 10:28] sanacl commented on #98
The data was refresh during the last days using the former file, so the bucket "Functional Reps" is not available.
Data about the file [Community Analytics - Reps Organization - Test 1.csv](https://github.com/mozilla/participation-metrics-identities/blob/master/Community%20Analytics%20-%20Reps%20Organization%20-%20Test%201.csv) is refresh for the Git and Bugzilla indexes.

[2017-06-12 10:29] nukeador commented on #102
Can we use "Non-employee" or "Community" instead of creating a new group called "Unknown"?

Thanks

[2017-06-12 10:38] alpgarcia commented on #102
@nukeador said:

Currently is not supported in the ad-hoc script @sanacl used to update affiliations. We will take care to substitute it in the report to avoid more delays in data enrichment.

Today we'll start updating report data with refreshed indexes information.

[2017-06-12 10:43] alpgarcia commented on #111
@nukeador notebooks to analyze survey by project were added to the repo. Could you execute them? (please execute also the general one to ensure we use same data for all of them)

Thanks!

[2017-06-12 12:48] nukeador commented on #98
Ok @sanacl coudl we get an estimation on how long it would take to refresh data with the updated file?

Thanks!

[2017-06-12 16:09] nukeador commented on #98
Also, to clarify, it was refreshed in the Bitergia server and not Mozilla's indexes right? Because I can't see them on our dashboard.

[2017-06-12 17:08] nukeador commented on #98
Also I see that on Bitergia's indexes for github issues I can't get the updated list with Reps.

[2017-06-13 07:53] sanacl commented on #98
Data is updated for the Git and Bugzilla indexes in the Bitergia server. The rest of the data sources should be ready there (Bitergia facilities) during the next 24 hours.

[2017-06-13 09:03] alpgarcia commented on #104
@nukeador which version of the google doc should we update?

I am working on the original version to keep the comments we had (not the copy made by George). Is this correct?

[2017-06-13 09:35] acs commented on #109
Summary of the work done and already available in the Activity Dashboard:

1. All the data is collected from https://mozilla-test.biterg.io/data
2. The list of commit authors for Community (Unknown + Mozilla Reps) is extracted from Kibana for the last year (starting from 13rd July), including for each author her main project in Mozilla, the list of all projects in which she has contributed and the

[2017-06-13 10:21] nukeador commented on #104
Yes, that's correct.

[2017-06-13 10:27] nukeador commented on #109
Thanks for the update @acs Great work so far! :-)

About (2), how bigger would be the sample if we include Mozilla contributors in the last 2-3 years?

Also, we talked yesterday with @jgbarah that maybe it would be interesting to be able to filter in/out based on number of commits on our repos, so this way we can exclude people that maybe are too casual and just contributed once or twice.

[2017-06-13 11:11] geroter commented on #104
Maybe let's give them back a copy of the clean version that had some
changes I made instead?

On Jun 13, 2017 12:21, "Nukeador" <notifications@github.com> wrote:

[2017-06-13 11:36] nukeador commented on #104
@alpgarcia @jgbarah Please, check George's copy history for changes done pre-workshop, so we make sure these are incorporated in the current work in progress doc

https://docs.google.com/document/d/1sdPM0UXjs7T0i7ZtSD31YAbeiPRykualn6ytG11R97M/edit

[2017-06-13 12:48] alpgarcia commented on #104
Ok, we'll have a look at the changes to update the copy we are working on.

[2017-06-13 12:56] nukeador opened #112 "Gather 5-10 top insights from cross-reference work"
Gather 5-10 top insights from cross-reference work

[2017-06-13 12:59] nukeador opened #113 "Provide priority questions about cross-reference work from workshop"
Provide priority questions about cross-reference work from workshop feedback

[2017-06-13 13:03] nukeador commented on #111
As we talked yesterday, we are closing this and continue tracking on #112 and #104

[2017-06-13 13:03] #111 closed

[2017-06-13 13:05] nukeador commented on #108
MPV delivered, moving this to final delivery, June 20th.

[2017-06-13 13:25] nukeador commented on #100
From yesterday's meeting, this is ready and implemented.

[2017-06-13 13:25] #100 closed

[2017-06-13 13:28] nukeador commented on #102
OK, let's make sure this is applied to all indexes so we can fetch the right data from reports.

[2017-06-13 16:01] nukeador commented on #109
Is it doable to have this data from Mozilla Contributors (3 years back) so it's usaed by #105 this week?

[2017-06-13 19:03] acs commented on #109
@nukeador I would try to complete all process for 3 years back. Once it is ready I will update this ticket and we can evaluate if it is ready!

[2017-06-14 10:38] nukeador opened #114 "Feedback from workshop"
## Data improvements

Improvements for the existing report.

- [ ] Retention by project -- mainly to see if there is any difference between Gecko/Servo and others (if the result isn’t interesting after a quick investigation, then we don’t need to include anything but a statement of this in the report)
- [ ] Graph of Core, Regular, Casual contributors by project
- [ ] Isolate the group of employees

[2017-06-14 10:42] nukeador commented on #114
@jgbarah this is the P1 feedback we got from the workshop. We would like to ask for a quick assement on how difficult each point would be to have it ready this week.

[2017-06-14 10:58] dicortazar commented on #108
Outcome of the meeting:
This is a summary of the engines analysis meeting.
* Hermina will double check the URL of the repositories plus the folders to be ignored or included. There were some concerns about the Blink numbers.
  * Daniel will double check the git log used to retrieve the info in first place.
* There is an agreement that the current version of the panels are the ones needed for this

[2017-06-14 11:19] dicortazar commented on #108
There's a first version of the document based on the analysis we've done so far with insights and methodological details.
Once we agree with the folders to be analyzed, I'll be able to complete the doc.
I've linked in any case the insights to the panels, so we can later re-check when the analysis is done.

In addition to this, I still want to work on polishing the domains information as there are

[2017-06-14 11:24] jgbarah commented on #114
Thanks, @nukeador. We're working on it. I can say a couple of things already:

We will try. I think we have some numbers. The problem is that I'm not sure the methodology is comparable.

Same. In addition, this one is verey sensitive to the time frame (longer time frames capture overall contribution to the project over long periods, while yearly contributions focus on the short-medium term).

[2017-06-14 11:45] jgbarah commented on #114
This suggests computing attraction/retention by considering committers to a single project. But I'm not sure if that's what is intended/useful, since people "leaving" one project could continue working in some other. I'm annotating the GitHub issue with this.

[2017-06-14 12:07] sanacl commented on #102
Information already applied to all the indexes. I think we can close this ticket.

[2017-06-14 12:07] sanacl commented on #98
Information already applied to all the indexes. I think we can close this ticket.

[2017-06-14 12:44] nukeador opened #115 "Tools for doing queries to specific set of identities"
We would need a way/tool to be able to generate queries for a set of identities ad-hoc, without having to create a new organization for them.

And example would be a set of emails from the survey we are interested in because they represent a motivation type and country, but we don't need a permanent organization for them.

[2017-06-14 14:34] nukeador commented on #113
Done in #114

[2017-06-14 14:34] #113 closed

[2017-06-14 15:04] alpgarcia commented on #100
After checking data we realized some commits associated to Firefox are also present (and associated to Gecko) in **gecko-projects** and **universal-search-gecko-dev repos**.

We decided after talking with @nukeador  to remove both repos from our indexes as probably they are only introducing noise to the analysis.

[2017-06-14 20:20] acs commented on #109
@nukeador enriched index updated with the github users which done commits last 3 years. In the activity dashboard you can check the data. 4529 users tracked this time.

[2017-06-14 22:15] dicortazar commented on #104
I'm starting to produce the insights in the main document for this cross-referenced analysis.

[2017-06-15 08:13] alpgarcia commented on #104
@nukeador, it seems there is a limitation with discourse. As messages can have several categories, there is no clear way of deciding to which project it belongs to.

[2017-06-15 08:29] alpgarcia commented on #104
@alpgarcia said:

I said nothing. It was a misunderstood in our side. It seems we can do it using category_id. Sorry for introducing noise.

[2017-06-15 10:37] #102 closed

[2017-06-15 12:24] nukeador commented on #104
Let's continue in https://github.com/mozilla/participation-metrics-org/issues/105 since it's about the delivery for this week.

[2017-06-15 12:24] #104 closed

[2017-06-16 16:08] dicortazar commented on #105
Work to be done after today's meeting
* Survey analysis:
  * Add TZ chart to add context to the countries information
  * Add a disclaimer about the population of the survey and how the boxplots might be skewed by small populations
  * Firefox and women participating in the bug reporting
  * Add a table in the coverage section
  * Have a look at the draft for the survey results and check if we can

[2017-06-16 17:18] nukeador commented on #105
Thanks @dicortazar updating the issues description

[2017-06-16 17:24] nukeador commented on #109
I think we can close this one, since the tool is working correctly and it's now being used for insights at #105

[2017-06-16 17:24] #109 closed

[2017-06-16 17:25] nukeador commented on #109
BTW, great work, this is going to get us a lot of answers now and in the coming weeks ;-)

[2017-06-16 19:32] dicortazar commented on #105
Regarding to this comment:

Even if there's a bias in the commits given that Gecko and Servo are together at some point, the big differences between plots for Gecko suggest that this is not due to the aggregation of Servo and Gecko.
When Servo has a difference of 100, Gecko has a difference of 300 (newcomers to the projects already contributing to Mozilla).

We're marking this task as done cause o

[2017-06-19 08:53] alpgarcia commented on #115
A quick and flexible solution could be:
1. Identify people in the group you are interested in.
2. Get their uuids from CSV file I shared with you to run survey notebooks. To do it quickly you just need to merge your survey results with our uuids using same fields we matched.
3. Create a filter in the dashboard with the list of uuids.

The JSON for such a filter should be something like:
[code]
As

[2017-06-19 10:19] nukeador commented on #115
How can we generate uuids from emails? The issues is that most probably we need to do this with identitities that are not on that survey list.

[2017-06-19 12:36] dicortazar commented on #112
We added a couple of sections focused on contex and 7 insights in this section. I think we can close the ticket.  @nukeador please feel free to close this.

[2017-06-19 12:38] dicortazar commented on #108
Waiting to have a meeting with Hermina and Rubén.

[2017-06-19 13:46] alpgarcia commented on #115
We could prepare a python script to do that but you'd need access to SortingHat. I need to ask @sanacl if it would be possible.

[2017-06-19 14:10] #112 closed

[2017-06-19 19:03] acs commented on #109
@nukeador it is great that the data and insights provides you answers! It is the final goal of all the stack! I will be more than happy to continue in the process next weeks!

[2017-06-20 07:42] dicortazar commented on #105
"Have a look at the draft for the survey results and check if we can have something else from the quantitative point of view"
There are a couple of topics we can add to the current doc from the survey doc. I see that the survey already has some feedback from the quantitative doc.
@nukeador from my side, reading both documents may raise some conclusions, but not sure if we should include those in t

[2017-06-20 16:51] alpgarcia commented on #115
It seems we could make a copy of SortingHat database to give you access. We could write a python script able to read a CSV with a list of emails, returning another CSV with each of them associated to its uuid.

Does it sound reasonable @nukeador ?

BTW, how many entities would you need to filter at same time? (we need to check maximum number of query terms supported by elastic search)

[2017-06-20 17:04] nukeador commented on #115
That would be helful yes.

I can't estimate a number since this is going to depend from case to case, from 10 to 300? ;-)

[2017-06-22 21:04] nukeador commented on #98
Reopening:

* We don't have this in the production server with the latest csv provided

[2017-06-22 21:04] #105 closed

[2017-06-22 21:09] nukeador commented on #99
Hi,

Let's make this happen also on production :-)

Cheers.

[2017-06-22 21:12] nukeador opened #116 "Add all repos under https://github.com/devtools-html"
Add all repos under https://github.com/devtools-html

Project grouping: Developer Tools

[2017-06-22 21:52] dicortazar commented on #108
In today's meeting we found a bug related to the number of authors in WebKit/Blink. Working on a new veresion of the panel + doc.

[2017-06-26 14:28] dicortazar commented on #108
@nukeador we can close this task as there's an agreement with Hermina that this task is done.

Please, feel free to close this once you check this is ready to go.

[2017-06-27 16:53] alpgarcia commented on #114
Added insights about:
* Onion groups of people hired. What group did they belong to before they were hired?
* Old contributors of Firefox OS that still contribute to other Mozilla projects on recent months.

[2017-06-27 16:54] alpgarcia commented on #106
Firefox OS added to top 6 projects section in the report.

[2017-06-27 16:55] alpgarcia commented on #106
We are going to double check the document latest additions and we will share it tomorrow.

[2017-06-29 16:16] nukeador commented on #115
Hi, any updates here? :-)

Thanks!

[2017-06-29 16:25] #108 closed

[2017-06-30 08:31] alpgarcia commented on #115
I hope the script will be ready in a couple of hours.

We would need to know where we could make a copy of  your SortingHat database. It should be somewhere you can access directly or through an SSH tunnel, but not your production machine to avoid problems. It could even be your own machine, you just need MySQL installed and the database dump (you choose where and how we can share it). In this cas

[2017-06-30 11:13] alpgarcia commented on #115
Script added to GitHub repo:
https://github.com/Bitergia/mozilla-contribution-analysis/blob/master/data-analysis/tools/get_uuids_from_emails.py

I've added some documentation in:
https://github.com/Bitergia/mozilla-contribution-analysis/blob/master/data-analysis/tools/README.md#get_uuids_from_emailspy

[2017-07-05 11:07] nukeador commented on #115
@alpgarcia Is this a DB we can have directly on our servers instead of doing a copy? (I just want to understand this for the long term usage of this)

@hmitsch In that case, can we have this hosted in our infra? (I would prefer so it's not just me the only one able to do queries)

[2017-07-05 11:37] nukeador commented on #116
Any updates here? Thanks!

[2017-07-05 11:38] nukeador commented on #106
Thanks, it would be useful to have a small report listing the changes from the June 23 version so we can review that tomorrow during the meeting.

Cheers.

[2017-07-05 11:38] nukeador commented on #99
@sanacl please, let's make sure this issue is updated. Thanks!

[2017-07-05 11:39] nukeador commented on #98
@sanacl please, let's make sure this issue is updated. Thanks!

[2017-07-05 14:43] alpgarcia commented on #115
At this point, @sanacl is the person you need. SortingHat database is currently in your production servers (well, right now is not the version we have for the report, but it should be updated at some point). Working against a copy ensures not to break anything in the worst case.

Anyway, I think you could talk directly to @sanacl as he is who manages this stuff.

[2017-07-05 15:25] alpgarcia commented on #106
Yep :), these are the changes:
* Added Firefox OS to ~5~ 6 projects over time section.
* Added new insight: '10% of non-employees from Firefox OS remain contributing code to other Mozilla projects after Firefox OS ended'
* Added new insight: 'Half of hired people are casual developers'

[2017-07-10 22:10] jgbarah commented on #98
We need to clarify this, and likely we need the help of @sanacl here. AFAIK, in the test (Bitergia) ElasticSearch we have a CSV applied with includes, among other stuff, detailed dates for Mozilla Employees. We understood we should not apply that one to the Mozilla ES for now. Am I wrong? Are we referring to some other CSV?

[2017-07-10 22:12] jgbarah commented on #99
We're working on this, since for the test ES we had specific software that read from the spreadsheet and updated directly the indexes. But for the production ES we need to include that in the incremental retrieval process, and use the projects.json file we use in production instead of the spreadsheet. We already have a first version of the projects.json, we need to start deploying it, one data sou

[2017-07-10 23:06] nukeador commented on #98
Employee data should NOT be in production. Only the Reps one. The latest file live here:

https://github.com/mozilla/participation-metrics-identities/blob/master/Reps-2017-06-06.csv

[2017-07-11 22:33] jgbarah commented on #98
OK, thanks!

[2017-07-14 10:10] nukeador commented on #99
Thanks, please let us know when this is done.

[2017-07-14 10:10] nukeador commented on #98
Thanks, please let us know when this is done.

[2017-07-14 11:11] nukeador commented on #115
I've pinged @sanacl by email

[2017-07-14 13:45] sanacl commented on #115
@nukeador The DB is already in your servers. I guess you would need just read access, is that right?

[2017-07-14 15:03] nukeador commented on #115
I expect more of these request coming in the future, and yes, read only access is fine.

Cheers.

[2017-07-14 16:48] hmitsch commented on #115
I'd really like to have a broader conversation around this topic. Please do no close this ticket before prior consultation with me. I expect we discuss this ticket at one of the future Bitergia-Mozilla calls.

Best regards,
   Henrik

[2017-07-19 12:42] dicortazar opened #117 "Transfer ownership of the Mozilla data analytics repo under the Bitergia umbrella"
The goal of this task is to transfer the ownership of the current repository where all of the work was done to produce the final report.

This ticket should be closed once the transfer is done.

There is some extra information about the transfer process at https://help.github.com/articles/about-repository-transfers/

[2017-07-19 12:51] dicortazar commented on #117
@nukeador or @hmitsch there are 24 hours to accept the transfer ownership of the repo. I'd say that let's look for a timeframe where I transfer the repo and you accept the repo. Does it work for you?

[2017-07-21 12:04] nukeador commented on #115
@alpgarcia I have access to the server but I can't run the script because I miss all dependencies. Can you generate a requirements.txt I can use?

Thanks!

[2017-07-21 13:02] nukeador commented on #115
I managed yo figure out requirements, also there is a change needed on the script to make it work, @alpgarcia please check https://github.com/Bitergia/mozilla-contribution-analysis/pull/3

[2017-07-21 13:43] nukeador commented on #115
So apparently this is working. We should figure out a way where ther eis no need for a person with ssh access + technical knowledge to generate the uuids and query

[2017-07-21 13:43] #115 closed

[2017-07-24 11:10] dicortazar opened #118 "Discussion on the repositories/project grouping"
This task aims at starting a discussion about the needs to be covered when grouping repositories and projects information.

At Bitergia a specific version of the spreadsheet was used due to some missing repositories in the general spreadsheet.

We need to work in the following actions:
* Update the official spreadsheet with missing repositories (those used in mozilla-test).
* Discuss if that offic

[2017-07-24 11:51] nukeador commented on #118
Instead of going to the solutions I would like to better shape the problem statement:

We need a central place under Mozilla's github repo where kibana can fetch:

* All sources of data and their type (git, github, bugzilla, discourse...)
* Each source should also have a project assigned (for grouping)
* There is an easy (webby?) way for both Bitergia and Mozilla to modify this list.
* We just don

[2017-07-25 13:35] nukeador commented on #98
Hi, can we get an update here. We would like to understand status and ETA.

Thanks!

[2017-07-25 13:35] nukeador commented on #99
Hi, can we get an update here? We would like to understand status and ETA.

Thanks!

[2017-07-25 14:21] nukeador commented on #115
For reference [this would be the link](https://analytics.mozilla.community//edit/app/kibana#/dashboard/Git?_g=(filters:!(),refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5y,mode:quick,to:now))&_a=(filters:!((%27$state%27:(store:appState),meta:(alias:%27Empty%20Commits%27,disabled:!f,index:git,key:files,negate:!t,value:%270%27),query:(match:(files:(query:%270%27,type:phrase)))),(%27$

[2017-07-26 13:58] sanacl commented on #98
ETA for having this in analytics.mozilla.community is August 2nd EOB.

[2017-07-26 16:17] sanacl commented on #98
@nukeador @hmitsch I see a new organization/group named "Functional Reps", please confirm you want this group also on our analytics dashboard. If you don't say anything, I will add it as it is part of the CSV file you gave us.

[2017-07-26 17:12] nukeador commented on #98
Yes, we split the Reps group into Reps and Functional Reps, that's correct.

[2017-07-27 10:51] sanacl commented on #99
New project grouping will be ready by Wednesday EOB for the following data sources: Git, Github and Mailing Lists. This will unblock the next phase of the project as @dicortazar confirmed.

The rest of the data sources need to be supported first. I guess this is done during Aug/September but I can't commit with a date for this.

[2017-07-27 12:05] dicortazar commented on #118
A bit of extra context:

* Grimoirelab toolchain needs a file where all of this info is provided. We already support the spreadsheet and we have our own file format (as far as I remember). For us centralizing all of this info would be the best option.
* In the case of mozilla-test, that info is now being extracted from a local spreadsheet that is a copy from the one in GDocs.

[2017-07-27 12:15] nukeador commented on #118
My proposal:

* Use the central github repo (the one we are working to have under parsys)
* Have a csv file per source type (git, bugzilla, mailing list, reps, discourse...)
* These files will include the list of sources (urls) and the project group they belong to.

This is not perfect but would allow kibana to fetch these files and transform into a projects.json or whatever it needs in order to k

[2017-07-27 17:03] dicortazar commented on #118
@nukeador the following is an example of the JSON file we're using when building dashboards.

Our ideal situation would be to use this and with this format:
* https://github.com/Bitergia/projects-mozilla/blob/master/projects.json

[2017-07-27 17:25] nukeador commented on #118
Well a json is way more difficult to edit by non-technical people, even for me it's difficult to edit when you don't see each source in one line.

I suspect we can have csv files integrated into a json automatically to balance ease of use from humans vs what kibana understands ;-)

[2017-07-28 10:47] sanacl commented on #99
Done for Git and Github.

[2017-07-28 10:49] sanacl commented on #98
Internal identities database updated. This is already done for Git and Github indexes.

Next ones will be mailing lists and bugzilla

[2017-08-01 15:53] hmitsch commented on #21
Current status: 79

[2017-08-02 08:15] sanacl commented on #98
Done for:
* Git + Github
* Mailing lists.

To be done:
* Bugzilla
* Discourse
* Mediawiki
* Remo

Don't have information about organizations:
* Mozilla Club
* Twitter

[2017-08-02 08:16] sanacl commented on #99
Done for:
* Git + Github
* Mailing lists.

To be done:
* Bugzilla
* Discourse

Do we need it for the following data sources??:
* Mediawiki
* Remo
* Twitter

[2017-08-02 10:12] hmitsch commented on #98
Twitter can be removed because our license expired. Can you do that?

[2017-08-02 10:13] hmitsch commented on #99
* Twitter: Can be removed because our license expired.
* Remo: No grouping required
* MediaWiki: No grouping required

[2017-08-16 09:46] sanacl commented on #116
Working on it. Should be ready in 2/3 working days.

[2017-08-16 10:21] sanacl opened #119 "Migration to Kibiter 5.x"
The aim of this issue is to allow us tracking the process to upgrading the analytics dashboard to its 5.x version.

The process to go there is:
* database upgrade (elasticsearch) to 5.x in our AWS elasticsearch service
* kibiter upgrade in our AWS node (managed by Bitergia)
* GrimoireLab tools updated to produce data for 5.x

Closing condition:
* analytics dashboard running Kibiter 5.x with all da

[2017-08-16 10:42] sanacl opened #120 "Integration of Single Sign On solution"
After a meeting with Hermina and Kang we (Bitergia) can start exploring the integration with the Single Sign On solution provided.

AFAIK (feedback from @hmitsch is welcome) the main requirement is allowing Mozilla guys to sync the access to Kibana with their user database.

The documentation provided is:
* https://github.com/mozilla-iam/testrp.security.allizom.org/tree/master/webserver_configurat

[2017-08-16 16:53] dicortazar commented on #117
Thanks to @flamingspaz and @hmitsch for their support.

The repo is now public and the ownership transferred to the Mozilla-Parsys org.

https://github.com/mozilla-parsys/mozilla-contribution-analysis

[2017-08-16 16:53] dicortazar commented on #117
Closing this task.

[2017-08-16 16:53] #117 closed

[2017-08-16 18:14] dicortazar opened #121 "Emerging Technologies Dashboard"
This ticket contains information related to the emerging technologies dashboard, requirement discussion, and others.

# First Iteration for the Emerging Technologies Dashboard

The first version is available at https://analytics.mozilla.community/edit/app/kibana#/dashboard/Emerging-Technologies

## Context and Data Sources
Two projects are considered for this panel: Rust and A-Frame. Rust contains

[2017-08-18 20:11] hmitsch commented on #99
Looks like the list of **To be done** still needs to be added:
* GitHub Issues Timing

[2017-08-21 12:34] nukeador commented on #99
Hi,

I think we need Remo groping in order to understand under which project people are reporting activities.

Cheers.

[2017-08-22 11:05] nukeador commented on #114
Did we add the "Graph of Core, Regular, Casual contributors by project"? Probably that's one of the most important pieces we should be looking into.

[2017-09-03 21:39] hmitsch opened #122 "Using _Github reactions_ in GrimoireLab"
https://www.dropbox.com/s/el1ecz7molquvig/Screenshot%202017-09-03%2023.38.58.png?dl=0

[2017-09-04 08:16] jsmanrique commented on #122
After talking with the dev team, we have some enhancements planned for next months to add extra information about GitHub Issues and Pull Requests:
* Comments authors and comments content
* Reactions ;-)

We have new people in the team to work specifically in these tasks, so I think they'll be released as product upgrades before Dec. 2017 (with no extra cost for you).

[2017-09-04 13:52] hmitsch commented on #122
Nice, thank you!

[2017-09-06 13:12] alpgarcia commented on #114
@nukeador said:
[code]
No, we didn't have time to add it.

[2017-09-07 12:42] hmitsch commented on #99
Hi @nukeador,

this is the current ReMo Dashboard:
<img width="1454" alt="image" src="https://user-images.githubusercontent.com/869692/30163741-5dee91b6-93da-11e7-85db-445f0d093381.png">

Would you agree that the _Categories_ are good enough for the moment. This means we would not add _Project_ Grouping to it for the moment.

Agreed?

Best regards,
   Henrik

[2017-09-07 12:44] hmitsch commented on #118
Done, as per https://github.com/Bitergia/projects-mozilla/pull/3/files we use the Google Spreadsheet.

[2017-09-07 12:44] #118 closed

[2017-09-07 13:07] nukeador commented on #99
I would say I miss some categories there, I think groping is also important to be implemented here to be able to cross track activities

https://docs.google.com/spreadsheets/d/1xFrt9JZkZ6m8peasYaRfPO5kC1JDo-vDJJuYfMwcGqM/edit#gid=1022022552

[2017-09-07 13:09] hmitsch commented on #121
@HerminaC can we close this issue?

[2017-09-07 13:14] HerminaC commented on #121
Yes we can. Thanks!

[2017-09-07 13:18] hmitsch commented on #110
@nukeador is this still relevant?

[2017-09-11 08:25] acs opened #123 "Discourse is not refreshed because an issue with the backend"
The data for discourse is not refreshed since 7th September because we have an issue in the perceval backend. The fix is already done but it is waiting for a final revision round. Then it must be deployed in Mozilla dashboard.

The fix: https://github.com/grimoirelab/perceval/pull/151

The ETA for having discourse data refreshed is next Wednesday.

[2017-09-11 18:05] acs commented on #123
perceval is now fixed and deployed in Mozilla dashboard. So the discourse data is now fresh another time.

https://analytics.mozilla.community:443/goto/6b92523db4167f0cdf48f283b94d1d6d

Closing this ticket!

[2017-09-11 18:05] #123 closed

[2017-09-13 20:03] hmitsch commented on #122
Bitergia is tracking this in: https://github.com/grimoirelab/perceval/issues/155

[2017-09-13 20:49] hmitsch opened #124 "Discourse: can we add index on `category_name`?"

[2017-09-13 20:49] hmitsch commented on #124
Info from @alpgarcia:

This was an update our dev team introduced for the report. It was needed to classify items by projects. It was applied to mozilla-test and came to production with corresponding tool chain update. As we didn't add any widget to visualize it, it remained behind the scenes.

[2017-09-13 20:49] #124 closed

[2017-09-13 20:51] hmitsch opened #125 "Discourse: can we make `body_extract` searchable in edit mode?"
Mail exchange with @alpgarcia:

This field is not used in the widgets and it seems it is not in the index definition. Thus, it was there as a part as an old index version. As I would need to ask our dev team to include them, could you please create a ticket to keep track on this?

[2017-09-14 08:47] alpgarcia commented on #125
Our estimation is including the change in the next week GrimoireELK release, i.e., Thu. Sep 21.

Once included, it will be a matter of updating the index (it should be a couple of hours once our DevOps team is aware of the update and find a slot to do it).

[2017-09-18 16:31] acs commented on #125
Hi @hmitsch !

After some research, I think that the body_extract is a field that you have found in NNTP data source (which share the same implementation than mbox).

https://github.com/grimoirelab/GrimoireELK/blob/master/grimoire_elk/elk/mbox.py#L154

In discourse this field has never existed before. Analyzing the raw discourse items, there is no field with a similar name. The most similar one is

[2017-09-18 20:28] hmitsch commented on #125
Oh man, I feel totally embarrassed now ... A similar mix-up of things has happened to me recently with two different providers of Slack bots ... so, so, so sorry!! I will quickly hide under a rock and be back in a few moments when I am done with this terrible feeling of embarrassment.

[2017-09-18 21:00] LeoMcA commented on #125
Not sure what API endpoint you're using, but there's a few from which you can get the raw contents of posts:

[`/t/{topic_id}.json?include_raw=1`](https://discourse.mozilla.org/t/2980.json?include_raw=1)
[`/raw/{topic_id}/{post_number}`](https://discourse.mozilla.org/raw/2980/1)
[`/posts/{post_id}/raw`](https://discourse.mozilla.org/posts/9008/raw)

[2017-09-18 22:08] hmitsch commented on #125
Hi @acs,

I am done with feeling embarrassed and ready to take another stab at formulating the desired outcome.

**Discourse:**
* Can we add one of the `raw contents feeds` from the previous post to retrieve and index Discourse articles?

**NNTP Data:** (mbox implementation)
* Can we **index** the field `body_extract`?

Best regards,
   Henrik

[2017-09-19 04:51] acs opened #126 "Shortened links to Community Analytics return HTTP 502 (Bad Gateway)"
@hmitsch reported that:

«Why do I get HTTP 502 (Bad Gateway) when I try to open the shortened links to Community Analytics?

Example: https://analytics.mozilla.community/goto/5a03461860d1bceba0ef6885e58c75bc
I don't understand ... the below quoted URL works ... whyyyy?

https://analytics.mozilla.community/goto/a3c430c36d31bb3f4dc550ea4d787816»

[2017-09-19 05:03] acs commented on #125
@LeoMcA right now we have a field with the content of the post (or the answer) in a "cooked" field. The issue is that it is HTML formatted. @hmitsch this could be enough for your needs or do you need the raw contents?

About the body_extract field, we are indexing right now the first 10 lines to avoid issue with pretty long bodies in the messages. Do you need the full text of then body?

[2017-09-19 08:14] hmitsch commented on #125
Well, we wanted to search for mailing list posts (newsgroup items) which contain a reference to a bug. The way we intended to do that was to search for an URL fragment of Bugzilla in the `body_extract`.

This means that the first 10 lines are probably not enough.

I guess there are some conceptional thinking errors in our approach. What do you suggest to do?

[2017-09-19 10:15] LeoMcA commented on #125
If we're searching for references to a bug using a URL fragment, there should be no problem using cooked rather than raw.

[2017-09-19 12:24] jgbarah commented on #125
Could you share what you intend to do, so that we have more clues? Maybe it is better to work with the raw index, instead of the enriched one. Have in mind that every time we add data to the enriched one, it needs later to be maintained for the dashboard. (Not saying that this is not the best thing to do here, just wondering...)

[2017-09-20 09:27] hmitsch opened #127 "Add `pyup.io bot` to bot list."

[2017-09-20 09:29] hmitsch opened #128 "Can we put a categories and sub-categories filter onto the Discourse page?"

[2017-09-20 09:29] hmitsch opened #129 "Force https for analytics.mozilla.community"

[2017-09-20 09:49] hmitsch opened #130 "Emerging Technologies Dashboard: Understand Data Gap"
There was a data gap between approx end of November 2016 to beginning of May 2017 for both. What was the reason for it?

[2017-09-20 12:01] dicortazar commented on #130
After checking the dashboard I can not reproduce the issue. I do not see any low activity. I need extra information with this respect as requested by email:
* Please double check that this is still taking place and if so, double check if there are any filters/stickers applied in the dashboard.
* If you reproduce the issue again, please send a short link + a screenshot of the full Kibana dashboard

[2017-09-20 16:15] hmitsch commented on #130
---------- Forwarded message ----------
From: Henrik Mitsch <hmitsch@mozilla.com>
Date: Sun, Sep 3, 2017 at 2:49 PM
Subject: Fwd: ET Dashboard
To: Luis Cañas <lcanas@bitergia.com>, support <support@bitergia.com>
Cc: Hermina Condei <hcondei@mozilla.com>

Dear Bitergia Support,
Hi Luis,

Hermina had an interesting observation on Friday. Can you please read her
mail below and help us verify if the ga

[2017-09-20 16:17] hmitsch commented on #130
---------- Forwarded message ----------
From: Luis Cañas-Díaz <lcanas@bitergia.com>
Date: Wed, Sep 13, 2017 at 3:57 PM
Subject: Re: ET Dashboard
To: Henrik Mitsch <hmitsch@mozilla.com>, support <support@bitergia.com>
Cc: Hermina Condei <hcondei@mozilla.com>

On 13/09/17 15:43, Henrik Mitsch wrote:

Dear Hermina and Henrik,
data was collected again earlier this week. The gap is gone

https://analyt

[2017-09-20 16:21] hmitsch commented on #130
Hi @dicortazar

No, the issue is gone. It was fixed by renewed data collection a week ago.

We are now asking what was the root cause of that data inconsistency. The reason we ask is because we are in a trust building phase and want to be able to explain our glitches.

Best regards,
   Henrik

[2017-09-20 16:52] jgbarah commented on #130
Mmmm. I will try to contact @sanacl who is in parent leave these days. But it is likely that the problem was related to a bug in how we update data from git repos with certain versions of Perceval. Maybe you remember that we had a similar problem with some repos duiring the analysis we did back in May. We thought it was fixed, but it seems in some cases it wasn't. The pattern is similar to the one

[2017-09-20 18:09] jgbarah commented on #130
First, I read more carefully the full original message by Hermina. I noticed the gap was in GitHub, so nothing to do with the git data I mentioned, sorry about the noise.

I also located our internal ticket about the issue, and I see @sanacl recreated the GitHub index from scratch. I still don't know why he did that. But that's the reason there is no gap anymore.

[2017-09-21 09:11] #128 closed

[2017-09-21 09:32] hmitsch opened #131 "[EmTech] As a dashboard user I can see total number of crates as well as number of new crates and new publications per day as a time series"
To get the total number of crates, you can make a request
to https://crates.io/api/v1/crates and the number is in `meta.total`.

[2017-09-21 10:18] jgbarah commented on #131
This is a new data source then?

There is no historical info maintained by the API? I mean, we can only get via API the value as of "now", and not, for example, the event of "this is a new crate, published on XX-XX-XX"?

[2017-09-22 14:24] hmitsch opened #132 "Add 'Calculated Gender' to identities"
* Gender is matched based on names
* API used: https://genderize.io
* Analysis based on statistical numbers, not individuals' data

Similar to https://github.com/mozilla/participation-metrics-org/issues/80

[2017-09-22 14:55] hmitsch opened #133 "[EmTech] Split concatenated labels into atomic labels"
*As-Is:*
`S-waiting-on-author;;T-libs;;`

*To-Be:*
`S-waiting-on-author`,`T-libs`

[2017-09-22 15:58] acs commented on #126
Hi @hmitsch!

Bug fixed.

There was an issues with the HTTP headers returned by Kibana in some cases. These headers was too large for the default nginx config and we need to increase it.

Basically:

[code]

Now you can use the short url failing:

https://analytics.mozilla.community/goto/5a03461860d1bceba0ef6885e58c75bc

Probably we can close now this issue!

[2017-09-22 16:57] emmairwin commented on #132
Hi Henrik, Can you tell me more about this?

[2017-09-22 19:52] hmitsch commented on #132
Yes! I'd like to discuss with Bitergia if it is possible to add "gender calculation" (via the genderize.io API) to the GrimoireLab identity heuristics (I think they call that Sorting Hat).

I am aware that this is not perfect and that it will be wrong for some identities. However, this is currently the best idea that comes into my mind.

Any other suggestions?

[2017-09-22 19:55] hmitsch commented on #126
This is awesome. Thank you!

[2017-09-22 19:55] #126 closed

[2017-09-22 20:00] emmairwin commented on #132
Do you know how it handles non-english names?  Or I think that's an important question to ask.
Long-term we need standards for gender identity that make this easier ( I know you know that ).

[2017-09-22 20:06] hmitsch commented on #132
Unfortunately I do not know how genderize works on non-English names. I know that this is not the first time that Bitergia is facing such a question and want to rely on their expertise and advice.

Previous work from Bitergia that might be helpful here:
- Diversity in Open Source panel at Linux Foundation Open Source Summit
https://speakerdeck.com/bitergia/diversity-in-open-source-panel

- Gender-

[2017-09-24 20:43] emmairwin commented on #132
Thanks Henrik going to learn more from Daniel  on Monday as well.  Its relevant to goals for pushing standards for D&I so we can move forward from gender binary solutions.   Thanks!

[2017-09-27 09:54] hmitsch commented on #130
We decide to close this.

[2017-09-27 09:54] #130 closed

[2017-09-27 09:58] hmitsch commented on #127
@albertinisg, it would be great if you can take care of this.

[2017-09-27 10:00] albertinisg commented on #127
Please, assign it to myself

[2017-09-27 10:03] hmitsch commented on #127
Can't assign, you probably need to join the project first. I just sent you an invite a moment ago. :-)

[2017-09-28 07:21] HerminaC opened #134 "[EmTech] As a dashboard user I can see the level of involvement of the contributors to the A-Frame and Rust projetcs"
core vs regular vs casual devs
% of contributions to a project
core = 80%
regular = 15%
casual = 5%

[2017-09-28 16:58] Mte90 commented on #88
Seems that the problem persist actually

[2017-10-03 20:28] hmitsch commented on #21
Subtracting 16 for https://github.com/mozilla/participation-metrics-org/issues/121

Current status: 63

[2017-10-10 18:53] hmitsch opened #135 "Scale-up AWS resources for smoother operations"
* Increase instance from one to many
* Do we still have the debt left that one part of the servers is om the West Coast while the Elasticsearch instance is on the East Coast?

[2017-10-10 18:53] hmitsch commented on #135
CC @flamingspaz: I created an issue in the backlog. No action required at this point.

[2017-10-17 13:03] albertinisg commented on #127
Sorry for the long delay on this. This was added to the bot list and updated in the indexes several days ago.

Best!

[2017-10-17 20:48] hmitsch commented on #127
Yayy, that's great. Thank you!

On Tue, Oct 17, 2017 at 3:03 PM, Alberto Martín <notifications@github.com>
wrote:

--
Henrik Mitsch
Senior Manager Participation Systems

irc: hmitsch | skype: henrik.mitsch
Cell: +49 176 99351302

[2017-10-17 20:52] hmitsch commented on #127
Works, thank you!

[2017-10-17 20:52] #127 closed

[2017-10-24 10:21] sanacl commented on #129
This is done as far as I see.

Please reopen if you think it is not working.

[2017-10-24 10:21] #129 closed

[2017-10-24 10:27] sanacl commented on #79
We are ready to start pushing this.

We will need an upgrade of the current ES instance. AFAIK this is done creating a new instance, so we would need the new ES5 instance up & running at the same time for a couple of days (less than three) so we can switch it smoothly.

Steps:
- new ES 5.1 deployed (ParSys)
- raw indexes copied, new enriched indexes created (Bitergia)
- new panels/dashboards are u

[2017-10-24 10:35] sanacl commented on #119
DUP #79

[2017-10-24 10:35] #119 closed

[2017-10-24 11:36] hmitsch commented on #79
Hi @flamingspaz, can you help us with step 1?
* new ES 5.1 deployed (ParSys)

When could @sanacl get this from you?

-Henrik

[2017-10-24 11:44] sanacl commented on #79
@flamingspaz can it be 5.1.1 ? If not please wait until I confirm

[2017-10-25 09:15] sanacl commented on #120
@hmitsch we are ready to start configuring this, in case we have doubts who is the contact person?

[2017-10-25 09:57] hmitsch opened #136 "Allow Henrik to run get_uuids_from_emails.py"
* Access Community Analytics server(s) via SSH
* Add a **read-only** user to SortingHat's MariaDB
* Validate tooling README.md (python virtual environment)
* Fun!

[2017-10-25 10:00] hmitsch opened #137 "Analysis: Can IAM SSH access mechanism be used for Community Analytics servers?"
In order to make the Community Analytics servers _first-class IAM citizens_, we probably want to make sure SSH access is built using the IAM SSH mechanism (?).

@hmitsch to clarify feasibility with Yousef and kang.

[2017-10-25 10:32] hmitsch commented on #120
That would be @gdestuynder.

[2017-10-25 11:51] sanacl commented on #120
@gdestuynder hi! one of my workmates told me we need to know the endpoint where our nginx has to point in order to use the SSO authentication.

Can you help us with it?

[2017-10-25 12:15] flamingspaz commented on #79
We can go up to 5.5, would that be better?

[2017-10-25 12:29] sanacl commented on #136
@hmitsch these are the steps:

1. access to the server (IP sent via private message). I'll need your SSH public key (RSA) to give you access

2. activate the virtual env (local python packages installed there)
[code]

3. example of use for your email
[code]

[2017-10-25 12:34] sanacl commented on #79
@flamingspaz No, we don't support versions above 5.1.x yet

[2017-10-25 17:25] flamingspaz commented on #79
opened https://github.com/mozilla/partinfra-terraform/pull/169 which would give a new ES cluster on 5.1 (Amazon doesn't have 5.1.1 it looks like) with a new endpoint. Once it's merged I'll update this issue so y'all can move data to it.

[2017-10-25 23:07] gdestuynder commented on #120
Hi @sanacl
Note: we also have https://github.com/mozilla-iam/mozilla.oidc.accessproxy now in case that makes your deployment easier.

I believe that by endpoint, you mean the OIDC configuration for the proxy (discovery url, client id, client secret) - in which case, it's not actually me but the service owner on Mozilla side that files and handle the request.

@hmitsch if that's you, or someone you

[2017-10-26 11:30] sanacl commented on #136
@hmitsch got access to the server.

If the process above detailed is not working please reopen.

[2017-10-26 11:30] #136 closed

[2017-10-26 13:18] flamingspaz commented on #79
The new endpoint is https://search-bitergia-metrics-es-ewoai7ko3v7ta25jzsrsvkwnqq.us-west-1.es.amazonaws.com

Let me know when you've transferred the data over so I can remove the old one!

[2017-10-26 23:07] hmitsch commented on #120
@gdestuynder thanks a lot, makes sense!

@flamingspaz would you be able to help with this? Or should I go ahead and file that SSO Request Form?

-Henrik

[2017-10-31 11:20] sanacl commented on #120
@hmitsch @flamingspaz hi guys, what can we do to unblock this?

[2017-10-31 15:06] flamingspaz commented on #120
I've submitted a request to get creds, ill send them over as soon as I get them.

[2017-11-08 08:37] sanacl commented on #79
@flamingspaz oupss, I didn't know this was ready. We're starting the copy today.

[2017-11-08 08:44] sanacl commented on #79
@hmitsch Bitergia upgrade will be ready before Wednesday next week.

@flamingspaz I'll update you as soon as we can decommission the 2.x ES server

[2017-11-08 08:50] dpose commented on #120
Hi @hmitsch @flamingspaz @gdestuynder,

we have followed the documentation at https://github.com/mozilla-iam/testrp.security.allizom.org/tree/master/webserver_configurations/OpenID_Connect/Nginx to install and configure the proper modules for nginx and we have configured the virtualhost based on this example https://github.com/mozilla-iam/testrp.security.allizom.org/blob/master/webserver_configura

[2017-11-08 10:22] sanacl commented on #98
All data sources will be fully refreshed during the migration to Kibiter 5. So it will be solved during the next 7 days.

[2017-11-08 11:18] hmitsch commented on #120
From @flamingspaz:

[2017-11-08 11:40] dicortazar commented on #131
There is a PR working on integrating the new crates.io backend into Perceval at https://github.com/grimoirelab/perceval-mozilla/pull/5

That has been already integrated and merged into Perceval indeed as you can see.

[2017-11-08 11:50] hmitsch commented on #136
For reference, the UUID script is here: https://github.com/mozilla-parsys/mozilla-contribution-analysis/blob/master/data-analysis/tools/get_uuids_from_emails.py

[2017-11-08 11:51] hmitsch commented on #136
Script works like a charm. Thank you!

[2017-11-08 11:52] albertinisg opened #138 "Change MySQL instance configuration"
I've been digging into the logs and found that we are getting errors while running some queries. This happened to us few times, and it's due to some timeouts. The values that worked for us are the following:
[code]
@hmitsch can you help us find who is the person that can help us with this?

[2017-11-08 12:03] hmitsch opened #139 "Add Sketchfab Discourse"
* Discourse Instance URL: https://forum.sketchfab.com/
* Intent: Get analytics for this Discourse instance into our Community Analytics stack in order to see if we can derive valuable insights from it.
* Implementation details: It is of secondary concern whether this data is integrated on the existing Discourse dashboard or on a new one. We want to get this started in the fastest way to get some i

[2017-11-08 12:06] hmitsch opened #140 "Bug in Reps Events (NOV 2017)"
## Reps portal
* Test condition URL: https://reps.mozilla.org/events/#/period/custom/end/2017-10-31/
* Actual result: **143 events** found till 2017-10-31.

## Community Analytics
* Test condition URL: https://analytics.mozilla.community:443/goto/c10c9173b4207ada4e71a84df46a5b55
* Actual result: **11 events**

## Additional information
According to an analysis by  @kelimuttu, @mte90 and @MichaelKo

[2017-11-08 12:25] dpose commented on #120
@hmitsch

Thanks for your quick answer.
I tested it too and I got the same result...

[code]

[2017-11-08 13:11] hmitsch commented on #140
@sanacl can you please assign this to the correct person at Bitergia?

[2017-11-08 13:38] hmitsch commented on #139
## adding a new Discourse server to the data sources list

Currently not supported.

GrimoirLab Feature Request added at: https://github.com/grimoirelab/grimoirelab/issues/28

[2017-11-08 13:40] hmitsch commented on #138
As far as I understand @sanacl is configuring these things?

-Henrik

[2017-11-08 13:53] flamingspaz commented on #120
Weird, it sounds like that might be a DNS issue. Can you do a dns lookup on the server for auth.mozilla.auth0.com and see if you get anything back?

Additionally, we've configured the URL as analytics.mozilla.community on our end, not sso-analytics. However I don't think that would cause this issue.

/cc @gdestuynder

[2017-11-08 22:59] gdestuynder commented on #120
@dpose note that https://github.com/mozilla-iam/mozilla.oidc.accessproxy/tree/master/etc has the same *kind* of config as https://github.com/mozilla-iam/testrp.security.allizom.org/tree/master/webserver_configurations/OpenID_Connect/Nginx but is a little newer (we're in the process of cleaning that up, but it takes time)

Anyhow, make sure you have this line:
https://github.com/mozilla-iam/mozilla

[2017-11-10 08:57] sanacl commented on #140
@hmitsch I'll be the proxy. We are currently working on it.

[2017-11-10 08:59] sanacl commented on #138
@hmitsch nope, the relational database we are using is an AWS service.

[2017-11-10 10:38] hmitsch commented on #138
Aaah, in this case we probably need @flamingspaz's help?

[2017-11-10 12:09] flamingspaz commented on #138
Opened https://github.com/mozilla/partinfra-terraform/pull/171

`max_connections` is already set to over 300.

[2017-11-10 14:27] flamingspaz commented on #138
the new parameters are applied to the database now, let me know if you still have issues.

[2017-11-10 14:27] #138 closed

[2017-11-13 22:12] gdestuynder commented on #120
@sanacl the credentials you got allow the usage of SSO (no specific rule needed)
There are 2 layers of authorization to access the system after that:

1) "we" enforce which kind of account can login (staff, community,all, etc.) - this is set when filling the SSO request form
2) "you" enforce finer grained access, and leverage access groups that are passed to you by the SSO system however works bes

[2017-11-13 22:28] hmitsch commented on #120
@gdestuynder @jdow

1. We want to have **Staff + NDA'ed contributors** to have access. Can you configure that?
1. There is no need for fine grained access inside Community Analytics at this moment.

[2017-11-14 09:05] sanacl commented on #120
My mozilla.org username is https://mozillians.org/es/u/lcanas/

[2017-11-14 09:13] sanacl commented on #120
@hmitsch "There is no need for fine grained access inside Community Analytics at this moment."

Going this way we would have only one group of users able to modify everything. Please confirm you are ok with this scenario so we can move forward when our accounts are created.

[2017-11-14 10:00] hmitsch commented on #120
@sanacl yes, let’s do the same we do currently withhe difference of being properly integrated with Mozilla IAM.

[2017-11-14 10:06] hmitsch commented on #120
@sanacl I just invited you to the NDA Group. Can you accept the terms and see if you can login using the nginx proxy?

[2017-11-14 11:55] flamingspaz commented on #120
It should already be configured to allow staff + NDA users to log in. Lets test that out.

[2017-11-14 14:53] dpose commented on #120
Hi @hmitsch
my mozilla.org username is [https://mozillians.org/en-US/u/dpose/](https://mozillians.org/en-US/u/dpose/)

[2017-11-18 18:25] dicortazar commented on #121
I think we can close this then :)

[2017-11-18 18:25] #121 closed

[2017-11-18 18:27] dicortazar commented on #131
There is a PoC in the Emerging Technologies panel. This contains the information requested, but we should discuss if this fits your needs.

[2017-11-18 18:29] dicortazar opened #141 "As a dashboard user I can see total number of project mentions as well as all new daily mentions for A-Frame and Rust projects"
The goal is to retrieve info from several data sources: IRC, StackOverflow, and Meetup.

[2017-11-18 18:30] dicortazar commented on #141
There is a first version of the three data sources in the EmTech panel.

This needs discussion to fit your specific needs. Let's talk on Monday.